In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import datetime

In [9]:
df_w = pd.read_csv('./주변국_기후_도시명.csv', index_col=0)
# df_w.drop('index', axis=1, inplace=True)
df_w.head(3)

df_w['일시'] = pd.to_datetime(df_w['일시'], format='%Y-%m-%d')
df_w = df_w[df_w['일시'].dt.year > 2006]
df_w = df_w.reset_index()
df_w.drop('index', axis=1, inplace=True)

df_w

,도시명,일시,평균기온,최고기온,최저기온,습도,풍향,풍속,강수량,해면기압,이슬점 온도,군집
0,선봉,2007-01-01,-0.866667,3.3,-5.1,65.333333,40.0,65.333333,0.0,65.333333,-6.766667,n2
1,선봉,2007-01-02,-5.250000,-4.7,-6.6,70.000000,0.0,70.000000,0.0,70.000000,-10.250000,n2
2,선봉,2007-01-03,-6.500000,-6.5,-6.5,67.000000,0.0,67.000000,0.0,67.000000,-11.600000,n2
3,선봉,2007-01-04,-2.200000,2.0,-6.4,66.000000,40.0,66.000000,0.0,66.000000,-8.000000,n2
4,선봉,2007-01-05,-4.000000,0.4,-8.4,83.500000,0.0,83.500000,0.0,83.500000,-6.400000,n2
...,...,...,...,...,...,...,...,...,...,...,...,...
244371,히로시마,2021-12-27,3.295833,5.3,0.6,60.487500,320.0,60.487500,0.5,60.487500,-3.920833,n5
244372,히로시마,2021-12-28,5.887500,9.5,3.2,62.079167,350.0,62.079167,-99.8,62.079167,-1.250000,n5
244373,히로시마,2021-12-29,7.162500,9.2,4.3,72.129167,80.0,72.129167,-98.8,72.129167,2.329167,n5
244374,히로시마,2021-12-30,4.291667,8.8,0.4,59.554167,280.0,59.554167,-97.8,59.554167,-3.316667,n5
244375,히로시마,2021-12-31,1.300000,1.3,1.3,75.200000,10.0,75.200000,2.0,75.200000,-2.600000,n5

In [6]:
df_h = pd.read_csv('./황사.csv', encoding='euckr')
# df_w.drop('index', axis=1, inplace=True)
df_h

         지점  지점명          일시  일 미세먼지 농도(㎍/㎥)
0        90   속초  2006-12-10              22
1        90   속초  2006-12-11              26
2        90   속초  2006-12-12              47
3        90   속초  2006-12-13              84
4        90   속초  2006-12-14              50
...     ...  ...         ...             ...
151309  501  연평도  2022-02-27              34
151310  501  연평도  2022-02-28              28
151311  501  연평도  2022-03-01              26
151312  501  연평도  2022-03-02              23
151313  501  연평도  2022-03-03              37

[151314 rows x 4 columns]

In [10]:
df_h.isna().sum()

지점                0
지점명               0
일시                0
일 미세먼지 농도(㎍/㎥)    0
dtype: int64