In [1]:
import pandas as pd
import numpy as np

In [2]:
df_visit = pd.read_csv('./cdm_data/visit_occurrence.csv')

In [3]:
df_visit.drop(['provider_id','care_site_id','admitting_source_value','discharge_to_source_value'], axis=1, inplace=True)

In [4]:
df_visit.drop(['visit_start_date','visit_end_date','visit_type_concept_id','visit_source_value','visit_source_concept_id'], axis=1, inplace=True)

In [5]:
df_visit

,visit_occurrence_id,person_id,visit_concept_id,visit_start_datetime,visit_end_datetime,admitting_source_concept_id,discharge_to_concept_id,preceding_visit_occurrence_id
0,36112943,116496,9202,1962-04-13 01:53:01,1962-04-13 02:08:01,0,0,NaN
1,36112944,116496,9202,1962-04-24 01:53:01,1962-04-24 02:08:01,0,0,36112943.0
2,36112954,116496,9202,2002-11-29 01:53:01,2002-11-29 02:23:01,0,0,36112944.0
3,36112945,116496,9202,2008-11-06 01:53:01,2008-11-06 02:08:01,0,0,36112954.0
4,36112946,116496,9202,2010-11-19 01:53:01,2010-11-19 02:43:01,0,0,36112945.0
...,...,...,...,...,...,...,...,...
41805,48895529,2781995,9202,2018-02-14 15:20:07,2018-02-14 15:50:07,0,0,48895528.0
41806,48895530,2781995,9202,2019-02-20 15:20:07,2019-02-20 15:50:07,0,0,48895529.0
41807,48895520,2781995,9202,2019-08-30 15:20:07,2019-08-30 15:35:07,0,0,48895530.0
41808,48895531,2781995,9202,2020-02-26 15:20:07,2020-02-26 15:35:07,0,0,48895520.0
41809,48895521,2781995,9202,2020-03-08 15:20:07,2020-03-08 16:07:07,0,0,48895531.0

In [6]:
df_visit.drop(df_visit.iloc[:,5:], axis=1, inplace=True)
df_visit.head(2)

,visit_occurrence_id,person_id,visit_concept_id,visit_start_datetime,visit_end_datetime
0,36112943,116496,9202,1962-04-13 01:53:01,1962-04-13 02:08:01
1,36112944,116496,9202,1962-04-24 01:53:01,1962-04-24 02:08:01

In [7]:
df_con = pd.read_csv('./cdm_data/condition_occurrence.csv')
df_con.head(2)

,condition_occurrence_id,person_id,condition_concept_id,condition_start_date,condition_start_datetime,condition_end_date,condition_end_datetime,condition_type_concept_id,stop_reason,provider_id,visit_occurrence_id,visit_detail_id,condition_source_value,condition_source_concept_id,condition_status_source_value,condition_status_concept_id
0,1466183,116496,0,2002-11-29,2002-11-29 00:00:00,NaN,NaN,32020,NaN,NaN,36112954,0,162864005,4060985,NaN,0
1,1466184,116496,0,2020-03-04,2020-03-04 00:00:00,2020-03-04,2020-03-04 00:00:00,32020,NaN,NaN,36112952,0,840544004,37311060,NaN,0

In [8]:
df_con = df_con[['person_id','condition_concept_id','condition_start_datetime','condition_end_datetime']]
df_con.head(2)

,person_id,condition_concept_id,condition_start_datetime,condition_end_datetime
0,116496,0,2002-11-29 00:00:00,NaN
1,116496,0,2020-03-04 00:00:00,2020-03-04 00:00:00

In [9]:
df_con.isna().sum()

person_id                      0
condition_concept_id           0
condition_start_datetime       0
condition_end_datetime      3909
dtype: int64

In [10]:
df_drug = pd.read_csv('./cdm_data/drug_exposure.csv')
df_drug.head(2)

,drug_exposure_id,person_id,drug_concept_id,drug_exposure_start_date,drug_exposure_start_datetime,drug_exposure_end_date,drug_exposure_end_datetime,verbatim_end_date,drug_type_concept_id,stop_reason,...,sig,route_concept_id,lot_number,provider_id,visit_occurrence_id,visit_detail_id,drug_source_value,drug_source_concept_id,route_source_value,dose_unit_source_value
0,40900862,26922,19073183,2017-05-04,2017-05-04 01:41:54,2017-05-18,2017-05-18 01:41:54,2017-05-18,38000177,NaN,...,NaN,0,0,0,99499216,0,308182,19073183,NaN,NaN
1,40757313,2955,40231925,2016-07-24,2016-07-24 13:28:53,2016-09-23,2016-09-23 13:28:53,2016-09-23,38000177,NaN,...,NaN,0,0,0,9251642,0,1049221,40231925,NaN,NaN

In [11]:
df_drug = df_drug[['person_id','drug_concept_id','drug_exposure_start_datetime','drug_exposure_end_datetime','visit_occurrence_id']]
df_drug.head(2)

,person_id,drug_concept_id,drug_exposure_start_datetime,drug_exposure_end_datetime,visit_occurrence_id
0,26922,19073183,2017-05-04 01:41:54,2017-05-18 01:41:54,99499216
1,2955,40231925,2016-07-24 13:28:53,2016-09-23 13:28:53,9251642

In [12]:
df_per = pd.read_csv('./cdm_data/person.csv')
df_per.head(2)

,person_id,gender_concept_id,year_of_birth,month_of_birth,day_of_birth,birth_datetime,race_concept_id,ethnicity_concept_id,location_id,provider_id,care_site_id,person_source_value,gender_source_value,gender_source_concept_id,race_source_value,race_source_concept_id,ethnicity_source_value,ethnicity_source_concept_id
0,402435,8532,1997,4,18,1997-04-18 00:00:00,8527,0,NaN,NaN,NaN,a434e3bf-7720-4612-8d18-e274e199f4fd,F,0,white,0,hispanic,0
1,1022983,8507,1950,2,26,1950-02-26 00:00:00,8527,0,NaN,NaN,NaN,e0b46681-1ccf-488e-9766-bbdb1fe53af2,M,0,white,0,hispanic,0

In [13]:
df_per = df_per[['person_id','gender_concept_id','birth_datetime','race_concept_id','gender_source_value','ethnicity_concept_id']]
df_per.head(2)

,person_id,gender_concept_id,birth_datetime,race_concept_id,gender_source_value,ethnicity_concept_id
0,402435,8532,1997-04-18 00:00:00,8527,F,0
1,1022983,8507,1950-02-26 00:00:00,8527,M,0

In [14]:
df_cct = pd.read_csv('./cdm_data/concept.csv')
df_cct.head(2)

C:\Users\bitcamp\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3172: DtypeWarning: Columns (5,6,9) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,concept_id,concept_name,domain_id,vocabulary_id,concept_class_id,standard_concept,concept_code,valid_start_date,valid_end_date,invalid_reason
0,0,No matching concept,Metadata,None,Undefined,NaN,No matching concept,1970-01-01,2099-12-31,NaN
1,1,Domain,Metadata,Domain,Domain,NaN,OMOP generated,1970-01-01,2099-12-31,NaN

In [15]:
df_cct = df_cct[['concept_id','concept_name','domain_id']]
df_cct.head(2)

   concept_id         concept_name domain_id
0           0  No matching concept  Metadata
1           1               Domain  Metadata

In [16]:
df_cct.columns=['condition_concept_id','concept_name','domain_id']
df_cct.head(2)

   condition_concept_id         concept_name domain_id
0                     0  No matching concept  Metadata
1                     1               Domain  Metadata

In [17]:
merge_1 = pd.merge(df_visit,df_per, how='outer', on='person_id')
merge_1.head(2)

,visit_occurrence_id,person_id,visit_concept_id,visit_start_datetime,visit_end_datetime,gender_concept_id,birth_datetime,race_concept_id,gender_source_value,ethnicity_concept_id
0,36112943,116496,9202,1962-04-13 01:53:01,1962-04-13 02:08:01,8507,1960-11-18 00:00:00,8527,M,0
1,36112944,116496,9202,1962-04-24 01:53:01,1962-04-24 02:08:01,8507,1960-11-18 00:00:00,8527,M,0

In [18]:
merge_2 = pd.merge(merge_1,df_con, how='outer', on='person_id')
merge_2.head(2)

,visit_occurrence_id,person_id,visit_concept_id,visit_start_datetime,visit_end_datetime,gender_concept_id,birth_datetime,race_concept_id,gender_source_value,ethnicity_concept_id,condition_concept_id,condition_start_datetime,condition_end_datetime
0,36112943,116496,9202,1962-04-13 01:53:01,1962-04-13 02:08:01,8507,1960-11-18 00:00:00,8527,M,0,0.0,2002-11-29 00:00:00,NaN
1,36112943,116496,9202,1962-04-13 01:53:01,1962-04-13 02:08:01,8507,1960-11-18 00:00:00,8527,M,0,0.0,2020-03-04 00:00:00,2020-03-04 00:00:00

In [19]:
merge_3 = pd.merge(merge_2,df_drug, how='outer', on='visit_occurrence_id')
merge_3.head(2)

,visit_occurrence_id,person_id_x,visit_concept_id,visit_start_datetime,visit_end_datetime,gender_concept_id,birth_datetime,race_concept_id,gender_source_value,ethnicity_concept_id,condition_concept_id,condition_start_datetime,condition_end_datetime,person_id_y,drug_concept_id,drug_exposure_start_datetime,drug_exposure_end_datetime
0,36112943,116496,9202,1962-04-13 01:53:01,1962-04-13 02:08:01,8507,1960-11-18 00:00:00,8527,M,0,0.0,2002-11-29 00:00:00,NaN,NaN,NaN,NaN,NaN
1,36112943,116496,9202,1962-04-13 01:53:01,1962-04-13 02:08:01,8507,1960-11-18 00:00:00,8527,M,0,0.0,2020-03-04 00:00:00,2020-03-04 00:00:00,NaN,NaN,NaN,NaN

In [20]:
df_visit_per = pd.merge(merge_3,df_cct, how='left', left_on='condition_concept_id', right_on='condition_concept_id')
df_visit_per.head(2)

,visit_occurrence_id,person_id_x,visit_concept_id,visit_start_datetime,visit_end_datetime,gender_concept_id,birth_datetime,race_concept_id,gender_source_value,ethnicity_concept_id,condition_concept_id,condition_start_datetime,condition_end_datetime,person_id_y,drug_concept_id,drug_exposure_start_datetime,drug_exposure_end_datetime,concept_name,domain_id
0,36112943,116496,9202,1962-04-13 01:53:01,1962-04-13 02:08:01,8507,1960-11-18 00:00:00,8527,M,0,0.0,2002-11-29 00:00:00,NaN,NaN,NaN,NaN,NaN,No matching concept,Metadata
1,36112943,116496,9202,1962-04-13 01:53:01,1962-04-13 02:08:01,8507,1960-11-18 00:00:00,8527,M,0,0.0,2020-03-04 00:00:00,2020-03-04 00:00:00,NaN,NaN,NaN,NaN,No matching concept,Metadata

In [21]:
len(df_visit_per)

939180

In [22]:
df_visit_per = df_visit_per[df_visit_per.visit_concept_id == 9201]
df_visit_per.head(2)

,visit_occurrence_id,person_id_x,visit_concept_id,visit_start_datetime,visit_end_datetime,gender_concept_id,birth_datetime,race_concept_id,gender_source_value,ethnicity_concept_id,condition_concept_id,condition_start_datetime,condition_end_datetime,person_id_y,drug_concept_id,drug_exposure_start_datetime,drug_exposure_end_datetime,concept_name,domain_id
456,3824839,886110,9201,2017-08-10 00:45:08,2017-08-11 00:45:08,8507,1949-08-27 00:00:00,8527,M,0,0.0,1957-08-24 00:00:00,NaN,NaN,NaN,NaN,NaN,No matching concept,Metadata
457,3824839,886110,9201,2017-08-10 00:45:08,2017-08-11 00:45:08,8507,1949-08-27 00:00:00,8527,M,0,0.0,2020-03-19 00:00:00,2020-03-19 00:00:00,NaN,NaN,NaN,NaN,No matching concept,Metadata

In [23]:
len(df_visit_per)

32806

In [24]:
import datetime as dt

In [25]:
from datetime import datetime

In [26]:
df_visit_per_a = df_visit_per
df_visit_per.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32806 entries, 456 to 936317
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   visit_occurrence_id           32806 non-null  int64
 1   person_id_x                   32806 non-null  int64
 2   visit_concept_id              32806 non-null  int64
 3   visit_start_datetime          32806 non-null  object
 4   visit_end_datetime            32806 non-null  object
 5   gender_concept_id             32806 non-null  int64
 6   birth_datetime                32806 non-null  object
 7   race_concept_id               32806 non-null  int64
 8   gender_source_value           32806 non-null  object
 9   ethnicity_concept_id          32806 non-null  int64
 10  condition_concept_id          32806 non-null  float64
 11  condition_start_datetime      32806 non-null  object
 12  condition_end_datetime        14814 non-null  object
 13  person_id_y                   25144 non-null  float64
 14  drug_concept_id               25144 non-null  float64
 15  drug_exposure_start_datetime  25144 non-null  object
 16  drug_exposure_end_datetime    25144 non-null  object
 17  concept_name                  32806 non-null  object
 18  domain_id                     32806 non-null  object
dtypes: float64(3), int64(6), object(10)
memory usage: 5.0+ MB

In [27]:
df_visit_per_a['visit_start_datetime'] = df_visit_per['visit_start_datetime'].apply(lambda x:x[:10])
df_visit_per_a.head(2)

,visit_occurrence_id,person_id_x,visit_concept_id,visit_start_datetime,visit_end_datetime,gender_concept_id,birth_datetime,race_concept_id,gender_source_value,ethnicity_concept_id,condition_concept_id,condition_start_datetime,condition_end_datetime,person_id_y,drug_concept_id,drug_exposure_start_datetime,drug_exposure_end_datetime,concept_name,domain_id
456,3824839,886110,9201,2017-08-10,2017-08-11 00:45:08,8507,1949-08-27 00:00:00,8527,M,0,0.0,1957-08-24 00:00:00,NaN,NaN,NaN,NaN,NaN,No matching concept,Metadata
457,3824839,886110,9201,2017-08-10,2017-08-11 00:45:08,8507,1949-08-27 00:00:00,8527,M,0,0.0,2020-03-19 00:00:00,2020-03-19 00:00:00,NaN,NaN,NaN,NaN,No matching concept,Metadata

In [28]:
df_visit_per_a['visit_start_datetime'] = pd.to_datetime(df_visit_per_a['visit_start_datetime'], format='%Y-%m-%d', errors='raise')
df_visit_per_a.head(2)

,visit_occurrence_id,person_id_x,visit_concept_id,visit_start_datetime,visit_end_datetime,gender_concept_id,birth_datetime,race_concept_id,gender_source_value,ethnicity_concept_id,condition_concept_id,condition_start_datetime,condition_end_datetime,person_id_y,drug_concept_id,drug_exposure_start_datetime,drug_exposure_end_datetime,concept_name,domain_id
456,3824839,886110,9201,2017-08-10,2017-08-11 00:45:08,8507,1949-08-27 00:00:00,8527,M,0,0.0,1957-08-24 00:00:00,NaN,NaN,NaN,NaN,NaN,No matching concept,Metadata
457,3824839,886110,9201,2017-08-10,2017-08-11 00:45:08,8507,1949-08-27 00:00:00,8527,M,0,0.0,2020-03-19 00:00:00,2020-03-19 00:00:00,NaN,NaN,NaN,NaN,No matching concept,Metadata

In [29]:
df_visit_per_a['visit_end_datetime'] = df_visit_per_a['visit_end_datetime'].apply(lambda x:x[:10])
df_visit_per_a['visit_end_datetime'] = pd.to_datetime(df_visit_per_a['visit_end_datetime'], format='%Y-%m-%d', errors='raise')
df_visit_per_a.head(2)

,visit_occurrence_id,person_id_x,visit_concept_id,visit_start_datetime,visit_end_datetime,gender_concept_id,birth_datetime,race_concept_id,gender_source_value,ethnicity_concept_id,condition_concept_id,condition_start_datetime,condition_end_datetime,person_id_y,drug_concept_id,drug_exposure_start_datetime,drug_exposure_end_datetime,concept_name,domain_id
456,3824839,886110,9201,2017-08-10,2017-08-11,8507,1949-08-27 00:00:00,8527,M,0,0.0,1957-08-24 00:00:00,NaN,NaN,NaN,NaN,NaN,No matching concept,Metadata
457,3824839,886110,9201,2017-08-10,2017-08-11,8507,1949-08-27 00:00:00,8527,M,0,0.0,2020-03-19 00:00:00,2020-03-19 00:00:00,NaN,NaN,NaN,NaN,No matching concept,Metadata

In [30]:
df_visit_per_a['birth_datetime'] = df_visit_per_a['birth_datetime'].apply(lambda x:x[:10])
df_visit_per_a['birth_datetime'] = pd.to_datetime(df_visit_per_a['birth_datetime'], format='%Y-%m-%d', errors='raise')
df_visit_per_a.head(2)

,visit_occurrence_id,person_id_x,visit_concept_id,visit_start_datetime,visit_end_datetime,gender_concept_id,birth_datetime,race_concept_id,gender_source_value,ethnicity_concept_id,condition_concept_id,condition_start_datetime,condition_end_datetime,person_id_y,drug_concept_id,drug_exposure_start_datetime,drug_exposure_end_datetime,concept_name,domain_id
456,3824839,886110,9201,2017-08-10,2017-08-11,8507,1949-08-27,8527,M,0,0.0,1957-08-24 00:00:00,NaN,NaN,NaN,NaN,NaN,No matching concept,Metadata
457,3824839,886110,9201,2017-08-10,2017-08-11,8507,1949-08-27,8527,M,0,0.0,2020-03-19 00:00:00,2020-03-19 00:00:00,NaN,NaN,NaN,NaN,No matching concept,Metadata

In [31]:
df_visit_per_b = df_visit_per_a.sort_values(['person_id_x','visit_end_datetime'], ascending=True)

In [32]:
df_visit_per_b.head(30)

,visit_occurrence_id,person_id_x,visit_concept_id,visit_start_datetime,visit_end_datetime,gender_concept_id,birth_datetime,race_concept_id,gender_source_value,ethnicity_concept_id,condition_concept_id,condition_start_datetime,condition_end_datetime,person_id_y,drug_concept_id,drug_exposure_start_datetime,drug_exposure_end_datetime,concept_name,domain_id
934456,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,0.0,1990-09-20 00:00:00,NaN,13605.0,40160973.0,2020-03-18 19:10:24,2020-03-18 19:10:24,No matching concept,Metadata
934457,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,0.0,1990-09-20 00:00:00,NaN,13605.0,19020053.0,2020-03-18 19:10:24,2020-03-18 19:10:24,No matching concept,Metadata
934458,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,0.0,1990-09-20 00:00:00,NaN,13605.0,40160997.0,2020-03-27 19:10:24,2020-03-27 19:10:24,No matching concept,Metadata
934459,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,0.0,2020-03-19 00:00:00,2020-03-19 00:00:00,13605.0,40160973.0,2020-03-18 19:10:24,2020-03-18 19:10:24,No matching concept,Metadata
934460,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,0.0,2020-03-19 00:00:00,2020-03-19 00:00:00,13605.0,19020053.0,2020-03-18 19:10:24,2020-03-18 19:10:24,No matching concept,Metadata
934461,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,0.0,2020-03-19 00:00:00,2020-03-19 00:00:00,13605.0,40160997.0,2020-03-27 19:10:24,2020-03-27 19:10:24,No matching concept,Metadata
934462,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,254761.0,2020-03-19 00:00:00,2020-03-30 00:00:00,13605.0,40160973.0,2020-03-18 19:10:24,2020-03-18 19:10:24,Cough,Condition
934463,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,254761.0,2020-03-19 00:00:00,2020-03-30 00:00:00,13605.0,19020053.0,2020-03-18 19:10:24,2020-03-18 19:10:24,Cough,Condition
934464,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,254761.0,2020-03-19 00:00:00,2020-03-30 00:00:00,13605.0,40160997.0,2020-03-27 19:10:24,2020-03-27 19:10:24,Cough,Condition
934465,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,255848.0,2020-03-19 00:00:00,2020-03-30 00:00:00,13605.0,40160973.0,2020-03-18 19:10:24,2020-03-18 19:10:24,Pneumonia,Condition
934466,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,255848.0,2020-03-19 00:00:00,2020-03-30 00:00:00,13605.0,19020053.0,2020-03-18 19:10:24,2020-03-18 19:10:24,Pneumonia,Condition
934467,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,255848.0,2020-03-19 00:00:00,2020-03-30 00:00:00,13605.0,40160997.0,2020-03-27 19:10:24,2020-03-27 19:10:24,Pneumonia,Condition
934468,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,437390.0,2020-03-19 00:00:00,NaN,13605.0,40160973.0,2020-03-18 19:10:24,2020-03-18 19:10:24,Hypoxemia,Condition
934469,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,437390.0,2020-03-19 00:00:00,NaN,13605.0,19020053.0,2020-03-18 19:10:24,2020-03-18 19:10:24,Hypoxemia,Condition
934470,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,437390.0,2020-03-19 00:00:00,NaN,13605.0,40160997.0,2020-03-27 19:10:24,2020-03-27 19:10:24,Hypoxemia,Condition
934471,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,437663.0,2020-03-19 00:00:00,2020-03-30 00:00:00,13605.0,40160973.0,2020-03-18 19:10:24,2020-03-18 19:10:24,Fever,Condition
934472,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,437663.0,2020-03-19 00:00:00,2020-03-30 00:00:00,13605.0,19020053.0,2020-03-18 19:10:24,2020-03-18 19:10:24,Fever,Condition
934473,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,437663.0,2020-03-19 00:00:00,2020-03-30 00:00:00,13605.0,40160997.0,2020-03-27 19:10:24,2020-03-27 19:10:24,Fever,Condition
934474,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,4147326.0,2020-03-19 00:00:00,2020-03-30 00:00:00,13605.0,40160973.0,2020-03-18 19:10:24,2020-03-18 19:10:24,Sore throat symptom,Condition
934475,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,4147326.0,2020-03-19 00:00:00,2020-03-30 00:00:00,13605.0,19020053.0,2020-03-18 19:10:24,2020-03-18 19:10:24,Sore throat symptom,Condition
934476,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,4147326.0,2020-03-19 00:00:00,2020-03-30 00:00:00,13605.0,40160997.0,2020-03-27 19:10:24,2020-03-27 19:10:24,Sore throat symptom,Condition
934477,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,4158346.0,2020-03-19 00:00:00,2020-03-30 00:00:00,13605.0,40160973.0,2020-03-18 19:10:24,2020-03-18 19:10:24,Respiratory distress,Condition
934478,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,4158346.0,2020-03-19 00:00:00,2020-03-30 00:00:00,13605.0,19020053.0,2020-03-18 19:10:24,2020-03-18 19:10:24,Respiratory distress,Condition
934479,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,4158346.0,2020-03-19 00:00:00,2020-03-30 00:00:00,13605.0,40160997.0,2020-03-27 19:10:24,2020-03-27 19:10:24,Respiratory distress,Condition
934480,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,4218389.0,2014-07-31 00:00:00,2014-08-21 00:00:00,13605.0,40160973.0,2020-03-18 19:10:24,2020-03-18 19:10:24,Whiplash injury to neck,Condition
934481,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,4218389.0,2014-07-31 00:00:00,2014-08-21 00:00:00,13605.0,19020053.0,2020-03-18 19:10:24,2020-03-18 19:10:24,Whiplash injury to neck,Condition
934482,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,4218389.0,2014-07-31 00:00:00,2014-08-21 00:00:00,13605.0,40160997.0,2020-03-27 19:10:24,2020-03-27 19:10:24,Whiplash injury to neck,Condition
934483,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,37311061.0,2020-03-19 00:00:00,2020-03-30 00:00:00,13605.0,40160973.0,2020-03-18 19:10:24,2020-03-18 19:10:24,Disease caused by 2019-nCoV,Condition
934484,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,37311061.0,2020-03-19 00:00:00,2020-03-30 00:00:00,13605.0,19020053.0,2020-03-18 19:10:24,2020-03-18 19:10:24,Disease caused by 2019-nCoV,Condition
934485,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,37311061.0,2020-03-19 00:00:00,2020-03-30 00:00:00,13605.0,40160997.0,2020-03-27 19:10:24,2020-03-27 19:10:24,Disease caused by 2019-nCoV,Condition

In [33]:
p_li = [0]
for i in range(len(df_visit_per_b['person_id_x'])-1):
    if df_visit_per_b.iloc[i,1] == df_visit_per_b.iloc[i+1,1] and df_visit_per_b.iloc[i,10] != df_visit_per_b.iloc[i+1,10]:
        t = df_visit_per_b.iloc[i+1,3] - df_visit_per_b.iloc[i,4]
        t = str(t).split(' ')[0]
        p_li.append(t)
    else:
        p_li.append(0)
        
p_li

[0,
 0,
 0,
 0,
 0,
 0,
 '-12',
 0,
 0,
 '-12',
 0,
 0,
 '-12',
 0,
 0,
 '-12',
 0,
 0,
 '-12',
 0,
 0,
 '-12',
 0,
 0,
 '-12',
 0,
 0,
 '-12',
 0,
 0,
 '-12',
 0,
 0,
 '-12',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '-10',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '-10',
 0,
 0,
 0,
 '-10',
 0,
 0,
 0,
 '-10',
 0,
 0,
 0,
 '-10',
 0,
 0,
 0,
 '-10',
 0,
 0,
 0,
 '-10',
 0,
 0,
 0,
 '-10',
 0,
 0,
 0,
 '-10',
 0,
 0,
 0,
 '-10',
 0,
 0,
 0,
 '-10',
 0,
 0,
 0,
 '-10',
 0,
 0,
 0,
 '-10',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '-10',
 0,
 0,
 0,
 '-10',
 0,
 0,
 0,
 '-10',
 0,
 0,
 0,
 '-10',
 0,
 0,
 0,
 '-10',
 0,
 0,
 0,
 '-10',
 0,
 0,
 0,
 '-10',
 0,
 0,
 0,
 '-10',
 0,
 0,
 0,
 '-10',
 0,
 0,
 0,
 '-10',
 0,
 0,
 0,
 '-10',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '-10',
 0,
 0,
 0,
 '-10',
 0,
 0,
 0,
 '-10',
 0,
 0,
 0,
 0,
 0,
 0,
 '-10',
 0,
 0,
 '-10',
 0,
 0,
 '-10',
 0,
 0,
 '-10',
 0,
 0,
 '-10',
 0,
 0,
 '-10',
 0,
 0,
 '-10',
 0,
 0,
 '-10',
 0,
 0,
 '-10',
 0,
 0,
 '-10',
 0,
 0,
 '-10',
 0,
 0,
 '-10',
 0,
 0,
 '-10',
 0,
 0,
 '-10',
 0,
 0,
 0,
 0,
 0,
 '-10',
 0,
 0,
 0,
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 0,
 0,
 0,
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '20822',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 0,
 0,
 0,
 0,
 '-9',
 0,
 '-9',
 0,
 '-9',
 0,
 '-9',
 0,
 '-9',
 0,
 '-9',
 0,
 '-9',
 0,
 '-9',
 0,
 '-9',
 0,
 '-9',
 0,
 0,
 0,
 0,
 0,
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 0,
 '-1',
 '57',
 0,
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 0,
 '-1',
 '62',
 0,
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 0,
 '-1',
 '6198',
 0,
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 0,
 '-1',
 '2445',
 0,
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 0,
 '-1',
 0,
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '-1',
 0,
 0,
 0,
 0,
 '-1',
 0,
 0,
 0,
 0,
 '-1',
 0,
 0,
 0,
 0,
 '-1',
 0,
 0,
 0,
 0,
 '-1',
 0,
 0,
 0,
 0,
 '-1',
 0,
 0,
 0,
 0,
 '-1',
 0,
 0,
 0,
 0,
 '-1',
 0,
 0,
 0,
 0,
 '-1',
 0,
 0,
 0,
 0,
 '-1',
 0,
 0,
 0,
 0,
 '-1',
 0,
 0,
 0,
 0,
 '-1',
 0,
 0,
 0,
 0,
 '-1',
 0,
 0,
 0,
 0,
 '-1',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '-1',
 0,
 0,
 0,
 0,
 '-1',
 0,
 0,
 0,
 0,
 '-1',
 0,
 0,
 0,
 0,
 '-1',
 0,
 0,
 0,
 0,
 '-1',
 0,
 0,
 0,
 0,
 '-1',
 0,
 0,
 0,
 0,
 '-1',
 0,
 0,
 0,
 0,
 '-1',
 0,
 0,
 0,
 0,
 '-1',
 0,
 0,
 0,
 0,
 '-1',
 0,
 0,
 0,
 0,
 0,
 '-1',
 '-1',
 '-1',
 '-1',
 0,
 0,
 '-1',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '-13',
 0,
 0,
 0,
 '-13',
 0,
 0,
 0,
 '-13',
 0,
 0,
 0,
 '-13',
 0,
 0,
 0,
 '-13',
 0,
 0,
 0,
 '-13',
 0,
 0,
 0,
 '-13',
 0,
 0,
 0,
 '-13',
 0,
 0,
 0,
 '-13',
 0,
 0,
 0,
 '-13',
 0,
 0,
 0,
 '-13',
 0,
 0,
 0,
 '-13',
 0,
 0,
 0,
 '-13',
 0,
 0,
 0,
 '-13',
 0,
 0,
 0,
 '-13',
 0,
 0,
 0,
 '-13',
 0,
 0,
 0,
 '-13',
 0,
 0,
 0,
 '-13',
 0,
 0,
 0,
 '-13',
 0,
 0,
 0,
 '-13',
 0,
 0,
 0,
 '-13',
 0,
 0,
 0,
 '-13',
 0,
 0,
 0,
 '-8',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '-8',
 0,
 0,
 0,
 0,
 '-8',
 0,
 0,
 0,
 0,
 '-8',
 0,
 0,
 0,
 0,
 '-8',
 0,
 0,
 0,
 0,
 '-8',
 0,
 0,
 0,
 0,
 '-8',
 0,
 0,
 0,
 0,
 '-8',
 0,
 0,
 0,
 0,
 '-8',
 0,
 0,
 0,
 0,
 '-8',
 0,
 0,
 0,
 0,
 '-8',
 0,
 0,
 0,
 0,
 '-8',
 0,
 0,
 0,
 0,
 '-8',
 0,
 0,
 0,
 0,
 '-8',
 0,
 0,
 0,
 0,
 '-8',
 0,
 0,
 0,
 0,
 '-8',
 0,
 0,
 0,
 0,
 '-8',
 0,
 0,
 0,
 0,
 '-8',
 0,
 0,
 0,
 0,
 '-8',
 0,
 0,
 0,
 0,
 '-8',
 0,
 0,
 0,
 0,
 '-8',
 0,
 0,
 0,
 0,
 '-8',
 0,
 0,
 0,
 0,
 '-8',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '-3',
 '-3',
 '-3',
 '-3',
 '-3',
 '-3',
 '-3',
 '-3',
 '-3',
 '-3',
 '-3',
 '-3',
 '-3',
 '-3',
 '-3',
 '-3',
 '-3',
 '-3',
 '-3',
 '-3',
 '-3',
 '-3',
 '-3',
 '13837',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 '-9',
 0,
 0,
 0,
 '-9',
 0,
 0,
 0,
 '-9',
 0,
 0,
 0,
 '-9',
 0,
 0,
 0,
 '-9',
 0,
 0,
 0,
 '-9',
 0,
 0,
 0,
 '-9',
 0,
 0,
 0,
 '-9',
 0,
 0,
 0,
 '-9',
 0,
 0,
 0,
 '-9',
 0,
 0,
 0,
 '-9',
 0,
 0,
 0,
 '-9',
 0,
 0,
 0,
 '-9',
 0,
 0,
 0,
 '-9',
 0,
 0,
 0,
 '-9',
 0,
 0,
 0,
 '-9',
 0,
 0,
 0,
 '-9',
 0,
 0,
 0,
 '-9',
 0,
 0,
 0,
 '-9',
 0,
 0,
 0,
 '-9',
 0,
 0,
 0,
 '-9',
 0,
 0,
 0,
 '-9',
 0,
 0,
 0,
 '-9',
 0,
 0,
 0,
 0,
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '80',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '7814',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '-1',
 '214',
 '-56',
 '-56',
 '-56',
 '-56',
 '-56',
 '-56',
 '-56',
 '-46',
 '-46',
 '-46',
 '-46',
 '-46',
 '-46',
 '-46',
 '-46',
 '-41',
 '-41',
 '-41',
 '-41',
 '-41',
 '-41',
 '-41',
 '-41',
 '-40',
 '-40',
 '-40',
 '-40',
 '-40',
 '-40',
 '-40',
 '-40',
 '-39',
 '-39',
 '-39',
 '-39',
 '-39',
 '-39',
 '-39',
 '-39',
 '-38',
 '-38',
 '-38',
 '-38',
 '-38',
 '-38',
 '-38',
 '-38',
 '-36',
 '-36',
 '-36',
 '-36',
 '-36',
 '-36',
 '-36',
 '-36',
 '-35',
 '-35',
 '-35',
 '-35',
 '-35',
 '-35',
 '-35',
 '-35',
 '-34',
 '-34',
 '-34',
 '-34',
 '-34',
 '-34',
 '-34',
 '-34',
 '-33',
 '-33',
 '-33',
 '-33',
 '-33',
 '-33',
 '-33',
 '-33',
 '-28',
 '-28',
 '-28',
 '-28',
 '-28',
 '-28',
 '-28',
 '-28',
 '-25',
 '-25',
 '-25',
 '-25',
 '-25',
 '-25',
 '-25',
 '-25',
 '-23',
 '-23',
 '-23',
 '-23',
 '-23',
 '-23',
 '-23',
 '-23',
 '-22',
 '-22',
 '-22',
 '-22',
 '-22',
 '-22',
 '-22',
 '-22',
 '-21',
 '-21',
 '-21',
 '-21',
 '-21',
 '-21',
 '-21',
 '-21',
 '-17',
 '-17',
 ...]

In [34]:
len(p_li)

32806

In [35]:
len(df_visit_per_b)

32806

In [36]:
df_visit_per_b['re_visit'] = p_li
df_visit_per_b.head(2)

,visit_occurrence_id,person_id_x,visit_concept_id,visit_start_datetime,visit_end_datetime,gender_concept_id,birth_datetime,race_concept_id,gender_source_value,ethnicity_concept_id,condition_concept_id,condition_start_datetime,condition_end_datetime,person_id_y,drug_concept_id,drug_exposure_start_datetime,drug_exposure_end_datetime,concept_name,domain_id,re_visit
934456,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,0.0,1990-09-20 00:00:00,NaN,13605.0,40160973.0,2020-03-18 19:10:24,2020-03-18 19:10:24,No matching concept,Metadata,0
934457,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,0.0,1990-09-20 00:00:00,NaN,13605.0,19020053.0,2020-03-18 19:10:24,2020-03-18 19:10:24,No matching concept,Metadata,0

In [37]:
df_visit_per_b['re_visit'] = df_visit_per_b['re_visit'].astype(int)

In [38]:
pp_li = []
for i in df_visit_per_b['re_visit']:
    if 0 < i <= 30:
        pp_li.append(1)
    else:
        pp_li.append(0)
        
pp_li

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

In [39]:
count = 0
for i in pp_li:
    if i == 1:
        count = count+1
        
count

264

In [40]:
df_visit_per_b['re_visit_m'] = pp_li
df_visit_per_b.head(2)

,visit_occurrence_id,person_id_x,visit_concept_id,visit_start_datetime,visit_end_datetime,gender_concept_id,birth_datetime,race_concept_id,gender_source_value,ethnicity_concept_id,...,condition_start_datetime,condition_end_datetime,person_id_y,drug_concept_id,drug_exposure_start_datetime,drug_exposure_end_datetime,concept_name,domain_id,re_visit,re_visit_m
934456,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,...,1990-09-20 00:00:00,NaN,13605.0,40160973.0,2020-03-18 19:10:24,2020-03-18 19:10:24,No matching concept,Metadata,0,0
934457,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,...,1990-09-20 00:00:00,NaN,13605.0,19020053.0,2020-03-18 19:10:24,2020-03-18 19:10:24,No matching concept,Metadata,0,0

In [41]:
df_visit_per_b.drop('person_id_y', axis=1, inplace=True)

In [42]:
df_visit_per_b.rename(columns={'person_id_x':'person_id'}, inplace=True)

In [43]:
df_visit_per_b.drop('condition_end_datetime', axis=1, inplace=True)

In [44]:
df_visit_per_c = df_visit_per_b.fillna(0)

In [45]:
df_visit_per_c.isna().sum()

visit_occurrence_id             0
person_id                       0
visit_concept_id                0
visit_start_datetime            0
visit_end_datetime              0
gender_concept_id               0
birth_datetime                  0
race_concept_id                 0
gender_source_value             0
ethnicity_concept_id            0
condition_concept_id            0
condition_start_datetime        0
drug_concept_id                 0
drug_exposure_start_datetime    0
drug_exposure_end_datetime      0
concept_name                    0
domain_id                       0
re_visit                        0
re_visit_m                      0
dtype: int64

In [46]:
df_visit_per_c.head(2)

,visit_occurrence_id,person_id,visit_concept_id,visit_start_datetime,visit_end_datetime,gender_concept_id,birth_datetime,race_concept_id,gender_source_value,ethnicity_concept_id,condition_concept_id,condition_start_datetime,drug_concept_id,drug_exposure_start_datetime,drug_exposure_end_datetime,concept_name,domain_id,re_visit,re_visit_m
934456,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,0.0,1990-09-20 00:00:00,40160973.0,2020-03-18 19:10:24,2020-03-18 19:10:24,No matching concept,Metadata,0,0
934457,4278654,13605,9201,2020-03-18,2020-03-30,8507,1956-07-05,8527,M,0,0.0,1990-09-20 00:00:00,19020053.0,2020-03-18 19:10:24,2020-03-18 19:10:24,No matching concept,Metadata,0,0

In [47]:
y = df_visit_per_c['re_visit_m']
x = df_visit_per_c.drop(['re_visit_m','birth_datetime','gender_source_value','ethnicity_concept_id',
                        'condition_start_datetime','drug_exposure_start_datetime','drug_exposure_start_datetime',
                        'drug_exposure_end_datetime','domain_id','visit_start_datetime','visit_end_datetime','re_visit'], axis=1)

In [48]:
x

,visit_occurrence_id,person_id,visit_concept_id,gender_concept_id,race_concept_id,condition_concept_id,drug_concept_id,concept_name
934456,4278654,13605,9201,8507,8527,0.0,40160973.0,No matching concept
934457,4278654,13605,9201,8507,8527,0.0,19020053.0,No matching concept
934458,4278654,13605,9201,8507,8527,0.0,40160997.0,No matching concept
934459,4278654,13605,9201,8507,8527,0.0,40160973.0,No matching concept
934460,4278654,13605,9201,8507,8527,0.0,19020053.0,No matching concept
...,...,...,...,...,...,...,...,...
486669,2800532,2843890,9201,8507,8527,40481087.0,40160997.0,Viral sinusitis
486670,2800532,2843890,9201,8507,8527,44782746.0,40160973.0,Acute deep venous thrombosis
486671,2800532,2843890,9201,8507,8527,44782746.0,1511248.0,Acute deep venous thrombosis
486672,2800532,2843890,9201,8507,8527,44782746.0,19020053.0,Acute deep venous thrombosis
486673,2800532,2843890,9201,8507,8527,44782746.0,40160997.0,Acute deep venous thrombosis

In [49]:
x = pd.get_dummies(x)
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32806 entries, 934456 to 486673
Columns: 152 entries, visit_occurrence_id to concept_name_Whiplash injury to neck
dtypes: float64(2), int64(5), uint8(145)
memory usage: 6.5 MB

In [50]:
x.head(2)

,visit_occurrence_id,person_id,visit_concept_id,gender_concept_id,race_concept_id,condition_concept_id,drug_concept_id,concept_name_Acquired coagulation disorder,concept_name_Acute bacterial sinusitis,concept_name_Acute bronchitis,...,concept_name_Sprain of wrist,concept_name_Sputum finding,concept_name_Streptococcal sore throat,concept_name_Tear of meniscus of knee,concept_name_Tubal pregnancy,concept_name_Type 2 diabetes mellitus,concept_name_Viral sinusitis,concept_name_Vomiting symptom,concept_name_Wheezing,concept_name_Whiplash injury to neck
934456,4278654,13605,9201,8507,8527,0.0,40160973.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
934457,4278654,13605,9201,8507,8527,0.0,19020053.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
import matplotlib.pyplot as plt
import seaborn as sns

In [52]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=111)

In [53]:
# from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.dummy import DummyClassifier
from sklearn.metrics import classification_report

In [54]:
tree = DecisionTreeClassifier()
knn = KNeighborsClassifier()
svc = SVC()
# dummy = dummy()

In [55]:
tree.fit(x_train, y_train)
knn.fit(x_train, y_train)
svc.fit(x_train, y_train)
# dummy_majority = DummyClassifier(strategy='most_frequent').fit(x_train, y_train)

SVC()

In [56]:
tree_preds = tree.predict(x_test)
knn_preds = knn.predict(x_test)
svc_preds = svc.predict(x_test)
# dummy_preds = dummy.predict(x_test)

In [57]:
print(classification_report(y_test, tree_preds))
print('='*100)
print(classification_report(y_test, knn_preds))
print('='*100)
print(classification_report(y_test, svc_preds))
# print('='*100)
# print(classification_report(y_test, dummy_preds))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      6511
           1       0.26      0.24      0.25        51

    accuracy                           0.99      6562
   macro avg       0.63      0.62      0.62      6562
weighted avg       0.99      0.99      0.99      6562

====================================================================================================
              precision    recall  f1-score   support

           0       0.99      1.00      1.00      6511
           1       0.50      0.04      0.07        51

    accuracy                           0.99      6562
   macro avg       0.75      0.52      0.53      6562
weighted avg       0.99      0.99      0.99      6562

====================================================================================================
              precision    recall  f1-score   support

           0       0.99      1.00      1.00      6511
           1       0.00      0.00      0.00        51

    accuracy                           0.99      6562
   macro avg       0.50      0.50      0.50      6562
weighted avg       0.98      0.99      0.99      6562

C:\Users\bitcamp\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\bitcamp\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\bitcamp\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [58]:
from sklearn.ensemble import RandomForestClassifier
ran = RandomForestClassifier()

In [59]:
ran.fit(x_train, y_train)

RandomForestClassifier()

In [60]:
ran_preds = ran.predict(x_test)

In [61]:
print(classification_report(y_test, ran_preds))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      6511
           1       0.27      0.24      0.25        51

    accuracy                           0.99      6562
   macro avg       0.63      0.62      0.62      6562
weighted avg       0.99      0.99      0.99      6562

In [62]:
ran.score(x_test, y_test)

0.9890277354465102

In [63]:
from sklearn.ensemble import AdaBoostClassifier
ada = AdaBoostClassifier()

In [64]:
ada.fit(x_train, y_train)

AdaBoostClassifier()

In [65]:
ada_preds = ada.predict(x_test)
print(classification_report(y_test, ada_preds))

              precision    recall  f1-score   support

           0       0.99      1.00      1.00      6511
           1       0.00      0.00      0.00        51

    accuracy                           0.99      6562
   macro avg       0.50      0.50      0.50      6562
weighted avg       0.98      0.99      0.99      6562

C:\Users\bitcamp\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\bitcamp\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\bitcamp\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [66]:
from sklearn.ensemble import GradientBoostingClassifier
gb = GradientBoostingClassifier()

In [67]:
gb.fit(x_train, y_train)

GradientBoostingClassifier()

In [68]:
gb_preds = gb.predict(x_test)
print(classification_report(y_test, gb_preds))

              precision    recall  f1-score   support

           0       0.99      1.00      1.00      6511
           1       0.00      0.00      0.00        51

    accuracy                           0.99      6562
   macro avg       0.50      0.50      0.50      6562
weighted avg       0.98      0.99      0.99      6562

C:\Users\bitcamp\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\bitcamp\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\bitcamp\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [69]:
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier

In [70]:
xgb = XGBClassifier()
xgb.fit(x_train, y_train)

lgbm = LGBMClassifier()
lgbm.fit(x_train, y_train)

catboost = CatBoostClassifier()
catboost.fit(x_train, y_train)

C:\Users\bitcamp\Anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[15:28:43] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

LightGBMError: Do not support special JSON characters in feature name.