In [ ]:
# String

In [1]:
# txt1 = 'A tale that was not right'
# 'ale' 이 출력..

txt1 = 'A tale that was not right'

print(txt1[3:6])

ale

In [2]:
# 'A tale' 출력
print(txt1[:6])

A tale

In [3]:
# 'not' 출력
print(txt1[-9:-6])

not

In [4]:
# txt1을 소문자 전환
print(txt1.lower())

a tale that was not right

In [5]:
# txt1을 대문자 전환
print(txt1.upper())

A TALE THAT WAS NOT RIGHT

In [11]:
# 'o'가 몇 개 존재하는가?
print(txt1.count('o'))

1

In [9]:
# 'o'가 몇 번 인덱스에 존재하는가?
print(txt1.index('o'))

17

In [12]:
# txt1의 길이는 어떻게 되는가?
print(len(txt1))

25

In [15]:
# space를 기준으로 나누어서 List에 담으세요..
li = txt1.split(' ')
print(li)

['A', 'tale', 'that', 'was', 'not', 'right']

In [18]:
# 'tale'을 'story'로 바꾸세요..
txt1.replace('tale','story')

'A story that was not right'

In [21]:
# txt1 안에 'right'가 존재하는지 확인
'right' in txt1

True

In [24]:
# List
sol = ['태양','수성','금성','지구','화성','목성','지구']
sol1 = ['토성','천황성','해왕성']
planet = '지구'

# 1. sol에서 ['수성','금성']을 출력
sol[1:3]

['수성', '금성']

In [27]:
# 2. sol에서 '지구' 위치 인덱스 출력
sol.index('지구')

3

In [30]:
# 3. sol에서 '화성'을 '해왕성'으로 수정
sol[4] = '해왕성'
sol

['태양', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [35]:
# 4. '수성'자리에 '명왕성' 삽입
sol[1].append['명왕성']

AttributeError: 'str' object has no attribute 'append'

In [37]:
# 5. '토성'을 맨 끝에 삽입
sol.append('토성')
sol

['태양', '수성', '금성', '지구', '해왕성', '목성', '지구', '토성', '토성']

In [38]:
# 6. 맨 끝 요소를 삭제하고 리턴
sol.pop()
sol

['태양', '수성', '금성', '지구', '해왕성', '목성', '지구', '토성']

In [39]:
# 7. '금성'을 제거
sol.remove('금성')
sol

['태양', '수성', '지구', '해왕성', '목성', '지구', '토성']

In [48]:
# 8. 1번 인덱스에서 3번 인덱스까지 삭제
sol = ['태양','수성','금성','지구','화성','목성','지구']
del sol[1:3]
sol

['태양', '지구', '화성', '목성', '지구']

In [49]:
# 9. 인덱스 2번 요소 삭제
del sol[2]
sol

['태양', '지구', '목성', '지구']

In [50]:
# 10. sol과 sol1을 합치세요
sol+sol1

['태양', '지구', '목성', '지구', '토성', '천황성', '해왕성']

In [52]:
# 11. 내림차순 정렬
sorted(sol, reverse=(True))

['태양', '지구', '지구', '목성']

In [53]:
# 12. 오름차순 정렬
sorted(sol)

['목성', '지구', '지구', '태양']

In [54]:
# 13. '만리장성'이 있는지 확인
'만리장성' in sol

False

In [55]:
# 14. so1을 3번 반복하세요
sol * 3

['태양', '지구', '목성', '지구', '태양', '지구', '목성', '지구', '태양', '지구', '목성', '지구']

In [56]:
# 15. 길이를 출력하세요
print(len(sol))

4

In [57]:
# 16. '지구'가 몇 개 포함되어있는지 확인.
sol.count('지구')

2

In [59]:
# 17. 모든 원소를 지우세요.
del sol[:]
sol

[]

In [65]:
# 18. sol리스트를 삭제하세요..
#del sol
#sol

In [ ]:
#Tuple

In [66]:
myTuple = ('tuple', (1,2,3) , [4,5,6,7,8] ,'7', '8', '9')

# 'tuple'을 출력하세요
print(myTuple)

('tuple', (1, 2, 3), [4, 5, 6, 7, 8], '7', '8', '9')

In [68]:
# 3을 출력하세요
print(myTuple[1][2])

3

In [70]:
# 4,5를 출력하세요
print(myTuple[2][:2])

[4, 5]

In [71]:
# [4,5,6]을 출력하세요
print(myTuple[2][:3])

[4, 5, 6]

In [72]:
# tuple의 길이를 리턴하세요 ( 요소의 갯수가 몇 개인지 )
len(myTuple)

6

In [73]:
# '7'이 있는지 확인하세요
'7' in myTuple

True

In [75]:
# '7'의 인덱스를 출력하세요.
print(myTuple.index('7'))

3

In [76]:
# '7'이 몇 개 있는지 확인하세요
myTuple.count('7')

1

In [77]:
# 인데스 2번를 출력하세요
print(myTuple[2])

[4, 5, 6, 7, 8]

In [78]:
# 인데스 2번에서 최대값을 출력하세요
print(max(myTuple[2]))

8

In [79]:
# 인데스 2번에서 최소값을 출력하세요
print(min(myTuple[2]))

4

In [80]:
# 인데스 2번에서 총합을 출력하세요
print(sum(myTuple[2]))

30

In [81]:
# 인데스 2번에서 평균을 출력하세요
print((sum(myTuple[2])/len(myTuple)))

5.0

In [87]:
# 인데스 2번를 내림차순 정렬해서 출력하세요.
print(sorted(myTuple[2], reverse=(True)))

[8, 7, 6, 5, 4]

In [ ]:
# Set

In [88]:
# 원소가 없는 set인 s를 만드세요
s = set()

In [92]:
# s에 원소 'sky'와 'earth'를 추가하세요
s = ('sky','earth')
s

('sky', 'earth')

In [105]:
# s에 1,2 두 원소를 추가하세요
s.update({'1,2'})
s

AttributeError: 'tuple' object has no attribute 'update'

In [97]:
# s에서 'sky'를 삭제하세요
del s{'sky'}

SyntaxError: invalid syntax (Temp/ipykernel_6152/3049479198.py, line 2)

In [106]:
A = {1,2,3,4,5,6}
B = {1,2,3,7,8,9}
C = {1,2,3}
# 두 집합의 합집합을 출력
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [107]:
# 두 집합의 교집합을 출력
A.intersection(B)

{1, 2, 3}

In [108]:
# A의 B에 대한 차집합
A.difference(B)

{4, 5, 6}

In [109]:
# 대칭차집합
A.symmentric_difference(B)

AttributeError: 'set' object has no attribute 'symmentric_difference'

In [110]:
# C가 A의 부분집합인지 확인
C.issubset(A)

True

In [111]:
# A가 C를 포함하는지 확인
A.issuperset(C)

True

In [112]:
# 집합 B의 길이를 출력
print(len(B))

6

In [113]:
# 집합 B의 최대값 출력
print(max(B))

9

In [115]:
# 집합 B의 최소값 출력
print(min(B))

1

In [116]:
# 집합 B의 합을 출력
print(sum(B))

30

In [118]:
# 집합 B의 평균출력
print((sum(B)/len(B)))

5.0

In [124]:
# 집합 B의 내림차순 출력
print(sorted(B, reverse=(True)))

[9, 8, 7, 3, 2, 1]

In [125]:
# 집합 B에 5가 포함되어 있는지 확인
'5' in B

False

In [ ]:
# Dictionary

In [128]:
# 'mydict'라는 딕셔너리를 만드세요.
mydict = {}

<class 'dict'>

In [132]:
# 'red':4, 'blue':3, 'green':1 세 요소를 추가하세요.
mydict = {'red':4, 'blue':3, 'green':1}

mydict

{'red': 4, 'blue': 3, 'green': 1}

In [135]:
# key에 'blue'가 있는지 확인하세요.
'blue' in mydict(keys)

NameError: name 'keys' is not defined

In [ ]:
# mydict의 길이를 출력하세요.

In [ ]:
# 'red'의 값을 출력하세요.
# 'red'의 값을 10으로 수정하세요.
# key값만 출력하세요
# value값만 출력하세요
# key와 value를 튜플로 출력하세요.
# (key기준으로 정렬하세요.)
# (value기준으로 정렬하세요)
# key 'blue'요소를 삭제하세요
# key 'pink'요소 값을 출력하되 오류가 없도록 하세요
# key 'pink' 값을 출력하되 없으면, value 20으로 새로이 추가하세요
# value에 20이 있는지 확인하세요.
# key는 'yellow'에 value는 30을 추가하세요.
# yourdict = {'파랑':50, '빨강':70}을 합하세요..