In [1]:
String
txt1 = 'A tale that was not right'
# 'ale' 이 출력..
# 'A tale' 출력
# 'not' 출력
# txt1을 소문자 전환
# txt1을 대문자 전환
# 'o'가 몇 개 존재하는가?
# 'o'가 몇 번 인덱스에 존재하는가?
# txt1의 길이는 어떻게 되는가?
# space를 기준으로 나누어서 List에 담으세요..
# 'tale'을  'story'로 바꾸세요..
# txt1 안에 'right'가 존재하는지 확인

NameError: name 'String' is not defined

In [213]:
# String
txt1 = 'A tale that was not right'
# 'ale' 이 출력..
txt1[3:6]

'ale'

In [214]:
# 'A tale' 출력
txt1[:6]

'A tale'

In [215]:
# 'not' 출력
txt1[-9:-6]

'not'

In [216]:
# txt1을 소문자 전환
txt1.lower()

'a tale that was not right'

In [217]:
# txt1을 대문자 전환
txt1.upper()

'A TALE THAT WAS NOT RIGHT'

In [218]:
# 'o'가 몇 개 존재하는가?
txt1.count('o')

1

In [219]:
# 'o'가 몇 번 인덱스에 존재하는가?
txt1.index('o')

17

In [220]:
# txt1의 길이는 어떻게 되는가?
len(txt1)

25

In [221]:
# space를 기준으로 나누어서 List에 담으세요..
txt1.split(' ')

['A', 'tale', 'that', 'was', 'not', 'right']

In [222]:
# 'tale'을  'story'로 바꾸세요..
txt1.replace('tale','story')

'A story that was not right'

In [223]:
# txt1 안에 'right'가 존재하는지 확인
'right' in txt1

True

In [ ]:
# List
sol = ['태양','수성','금성','지구','화성','목성','지구']
sol1 = ['토성','천황성','해왕성']
planet = '지구'

# 1. sol에서 ['수성','금성']을 출력
# 2. sol에서 '지구' 위치 인덱스 출력
# 3. sol에서 '화성'을 '해왕성'으로 수정
# 4. '수성'자리에 '명왕성' 삽입
# 5. '토성'을 맨 끝에 삽입
# 6. 맨 끝 요소를 삭제하고 리턴
# 7. '금성'을 제거
# 8. 1번 인덱스에서 3번 인덱스까지 삭제
# 9. 인덱스 2번 요소 삭제
# 10. sol과 sol1을 합치세요
# 11. 내림차순 정렬
# 12. 오름차순 정렬
# 13. '만리장성'이 있는지 확인
# 14. so1을 3번 반복하세요
# 15. 길이를 출력하세요
# 16. '지구'가 몇 개 포함되어있는지 확인.
# 17. 모든 원소를 지우세요.
# 18. sol리스트를 삭제하세요..

In [224]:
# List
sol = ['태양','수성','금성','지구','화성','목성','지구']
sol1 = ['토성','천황성','해왕성']
planet = '지구'

# 1. sol에서 ['수성','금성']을 출력
sol[1:3]

['수성', '금성']

In [225]:
# 2. sol에서 '지구' 위치 인덱스 출력
sol.index('지구')

3

In [226]:
# 3. sol에서 '화성'을 '해왕성'으로 수정
sol[4]='해왕성'
sol

['태양', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [227]:
# 4. '수성'자리에 '명왕성' 삽입
sol.insert(1,'명왕성')
sol

['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [228]:
# 5. '토성'을 맨 끝에 삽입
sol.append('토성')

In [229]:
# 6. 맨 끝 요소를 삭제하고 리턴
sol.pop()
sol

['태양', '명왕성', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [230]:
# 7. '금성'을 제거
sol.remove('금성')
sol

['태양', '명왕성', '수성', '지구', '해왕성', '목성', '지구']

In [232]:
# 8. 1번 인덱스에서 3번 인덱스까지 삭제
del sol[1:4]
sol

['태양', '해왕성', '목성', '지구']

In [233]:
# 9. 인덱스 2번 요소 삭제
sol.pop(2)
sol

['태양', '해왕성', '지구']

In [235]:
# 10. sol과 sol1을 합치세요
sol = sol+sol1

In [236]:
# 11. 내림차순 정렬
sorted(sol, reverse=True)

['해왕성', '해왕성', '토성', '태양', '천황성', '지구']

In [237]:
# 12. 오름차순 정렬
sorted(sol, reverse=False)

['지구', '천황성', '태양', '토성', '해왕성', '해왕성']

In [238]:
# 13. '만리장성'이 있는지 확인
'만리장성' in sol

False

In [239]:
# 14. so1을 3번 반복하세요
sol * 3

['태양',
 '해왕성',
 '지구',
 '토성',
 '천황성',
 '해왕성',
 '태양',
 '해왕성',
 '지구',
 '토성',
 '천황성',
 '해왕성',
 '태양',
 '해왕성',
 '지구',
 '토성',
 '천황성',
 '해왕성']

In [240]:
# 15. 길이를 출력하세요
len(sol)

6

In [241]:
# 16. '지구'가 몇 개 포함되어있는지 확인.
sol.count('지구')

1

In [242]:
# 17. 모든 원소를 지우세요.
sol.clear()
sol

[]

In [ ]:
# 18. sol리스트를 삭제하세요..
del sol

In [ ]:
# Tuple
myTuple = ('tuple',(1,2,3),[4,5,6,7,8],'7','8','9')

# 'tuple'을 출력하세요
# 3을 출력하세요
# 4,5를 출력하세요
# [4,5,6]을 출력하세요
# tuple의 길이를 리턴하세요(요소의 갯수가 몇개인지)
# '7'이 있는지 확인하세요
# '7'의 인덱스를 출력하세요.
# '7'이 몇 개 있는지 확인하세요
# 인데스 2번를 출력하세요
# 인데스 2번에서 최대값을 출력하세요
# 인데스 2번에서 최소값을 출력하세요
# 인데스 2번에서 총합을 출력하세요
# 인데스 2번에서 평균을 출력하세요
# 인데스 2번를 내림차순 정렬해서 출력하세요.

In [243]:
# Tuple
myTuple = ('tuple',(1,2,3),[4,5,6,7,8],'7','8','9')

# 'tuple'을 출력하세요
print(myTuple)

('tuple', (1, 2, 3), [4, 5, 6, 7, 8], '7', '8', '9')

In [244]:
# 3을 출력하세요
myTuple[1][2]

3

In [245]:
# 4,5를 출력하세요
myTuple[2][:2]

[4, 5]

In [246]:
# [4,5,6]을 출력하세요
myTuple[2][:3]

[4, 5, 6]

In [247]:
# tuple의 길이를 리턴하세요(요소의 갯수가 몇개인지)
len(myTuple)

6

In [248]:
# '7'이 있는지 확인하세요
'7' in myTuple

True

In [249]:
# '7'의 인덱스를 출력하세요.
myTuple.index('7')

3

In [251]:
# '7'이 몇 개 있는지 확인하세요
myTuple.count('7')

1

In [252]:
# 인데스 2번를 출력하세요
myTuple[2]

[4, 5, 6, 7, 8]

In [253]:
# 인데스 2번에서 최대값을 출력하세요
max(myTuple[2])

8

In [257]:
# 인데스 2번에서 최소값을 출력하세요
min(myTuple[2])

4

In [258]:
# 인데스 2번에서 총합을 출력하세요
sum(myTuple[2])

TypeError: 'int' object is not callable

In [259]:
# 인데스 2번에서 평균을 출력하세요
sum(myTuple[2])/len(myTuple[2])

TypeError: 'int' object is not callable

In [260]:
# 인데스 2번를 내림차순 정렬해서 출력하세요.
sorted(myTuple[2], reverse=True)

[8, 7, 6, 5, 4]

In [ ]:
# Set

# 원소가 없는 set인 s를 만드세요
# s에 원소 'sky'와 'earth'를 추가하세요
# s에 1,2 두 원소를 추가하세요
# s에서 'sky'를 삭제하세요


A = {1,2,3,4,5,6}
B = {1,2,3,7,8,9}
C = {1,2,3}

# 두 집합의 합집합을 출력
# 두 집합의 교집합을 출력
# A의 B에 대한 차집합
# 대칭차집합
# C가 A의 부분집합인지 확인
# A가 C를 포함하는지 확인

# 집합 B의 길이를 출력
# 집합 B의 최대값 출력
# 집합 B의 최소값 출력
# 집합 B의 합을 출력
# 집합 B의 평균출력
# 집합 B의 내림차순 출력
# 집합 B에 5가 포함되어 있는지 확인

In [261]:
# Set

# 원소가 없는 set인 s를 만드세요
s = set()
s

set()

In [262]:
# s에 원소 'sky'와 'earth'를 추가하세요
s.add('sky')
s.add('earth')

In [263]:
# s에 1,2 두 원소를 추가하세요
s.update({1,2})
s

{1, 2, 'earth', 'sky'}

In [264]:
# s에서 'sky'를 삭제하세요
s.remove('sky')
s

{1, 2, 'earth'}

In [1]:
A = {1,2,3,4,5,6}
B = {1,2,3,7,8,9}
C = {1,2,3}

# 두 집합의 합집합을 출력
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [266]:
# 두 집합의 교집합을 출력
A.intersection(B)

{1, 2, 3}

In [267]:
# A의 B에 대한 차집합
A.difference(B)

{4, 5, 6}

In [268]:
# 대칭차집합
A.symmetric_difference(B)

{4, 5, 6, 7, 8, 9}

In [269]:
# C가 A의 부분집합인지 확인
C.issubset(A)

True

In [270]:
# A가 C를 포함하는지 확인
C.issuperset(A)

False

In [271]:
# 집합 B의 길이를 출력
len(B)

6

In [272]:
# 집합 B의 최대값 출력
max(B)

9

In [273]:
# 집합 B의 최소값 출력
min(B)

1

In [2]:
# 집합 B의 합을 출력
sum(B)

30

In [3]:
# 집합 B의 평균출력
sum(B)/len(B)

5.0

In [4]:
# 집합 B의 내림차순 출력
sorted(B, reverse=True)

[9, 8, 7, 3, 2, 1]

In [5]:
# 집합 B에 5가 포함되어 있는지 확인
5 in B

False

In [ ]:
# Dictionary

# 'mydict'라는 딕셔너리를 만드세요.
# 'red':4, 'blue':3, 'green':1 세 요소를 추가하세요.
# key에 'blue'가 있는지 확인하세요.
# mydict의 길이를 출력하세요.
# 'red'의 값을 출력하세요.
# 'red'의 값을 10으로 수정하세요.
# key값만 출력하세요
# value값만 출력하세요
# key와 value를 튜플로 출력하세요.
# (key기준으로 정렬하세요.)
# (value기준으로 정렬하세요)
# key 'blue'요소를 삭제하세요
# key 'pink'요소 값을 출력하되 오류가 없도록 하세요
# key 'pink' 값을 출력하되 없으면, value 20으로 새로이 추가하세요
# value에 20이 있는지 확인하세요.
# key는 'yellow'에 value는 30을 추가하세요.
# yourdict = {'파랑':50, '빨강':70}을 합하세요..

In [6]:
# Dictionary

# 'mydict'라는 딕셔너리를 만드세요.
mydict = {}

In [7]:
# 'red':4, 'blue':3, 'green':1 세 요소를 추가하세요.
mydict['red'] = 4
mydict['blue'] = 3
mydict['green'] = 1
mydict

{'red': 4, 'blue': 3, 'green': 1}

In [11]:
# key에 'blue'가 있는지 확인하세요.
'blue' in mydict.keys()

True

In [12]:
# mydict의 길이를 출력하세요.
len(mydict)

3

In [13]:
# 'red'의 값을 출력하세요.
mydict['red']

4

In [14]:
# 'red'의 값을 10으로 수정하세요.
mydict['red'] = 10

In [15]:
# key값만 출력하세요
mydict.keys()

dict_keys(['red', 'blue', 'green'])

In [16]:
# value값만 출력하세요
mydict.values()

dict_values([10, 3, 1])

In [17]:
# key와 value를 튜플로 출력하세요.
mydict.items()

dict_items([('red', 10), ('blue', 3), ('green', 1)])

In [18]:
# (key기준으로 정렬하세요.)
sorted(mydict.items(), key = lambda x:x[0])

[('blue', 3), ('green', 1), ('red', 10)]

In [19]:
# (value기준으로 정렬하세요)
sorted(mydict.items(), key = lambda x:x[1])

[('green', 1), ('blue', 3), ('red', 10)]

In [21]:
# key 'blue'요소를 삭제하세요
del mydict['blue']
mydict

{'red': 10, 'green': 1}

In [22]:
# key 'pink'요소 값을 출력하되 오류가 없도록 하세요
mydict.get('pink')

In [23]:
# key 'pink' 값을 출력하되 없으면, value 20으로 새로이 추가하세요
mydict.setdefault('pink',20)

20

In [24]:
# value에 20이 있는지 확인하세요.
20 in mydict.values()

True

In [25]:
# key는 'yellow'에 value는 30을 추가하세요.
mydict['yellow'] = 30

In [26]:
# yourdict = {'파랑':50, '빨강':70}을 합하세요..
yourdict = {'파랑':50, '빨강':70}
mydict.update(yourdict)
mydict

{'red': 10, 'green': 1, 'pink': 20, 'yellow': 30, '파랑': 50, '빨강': 70}

In [ ]:
# If

## 임의 정수(n)를 입력받은 후 0부터 n까지의 정수 중 짝수들의 합을 구하시오.


# 주민번호 '851205-2000000'
# 주민번호를 입력받은 후 "당신의 나이는 __이고, 성별은 __입니다"를 출력하시오..


# names = {'mary':1520, 'tom':5214, 'park':5478, 'sams':5478}
# 이름을 입력받은 후 names dict에 이름이 있으면 값을 출력하고,
# 없으면 새로운 값 2000과 함께 dict에 'key':'value'로 추가
# setdefault를 사용하지 않음..


# 학점 출력.. 점수를 입력받은 후..
# 90점 이상이면 "당신은 'A'학점입니다"를 출력
# 80점 이상이면서 90점 미만이면 "당신은 'B'학점입니다"를 출력
# 70점 이상이면서 80점 미만이면 "당신은 'C'학점입니다"를 출력
# 70점 미만이면 "당신은 D학점입니다"를 출력

In [28]:
# If

## 임의 정수(n)를 입력받은 후 0부터 n까지의 정수 중 짝수들의 합을 구하시오.

n = int(input('정수'))
suma = 0

for i in range(n+1):
    if i % 2 == 0:
        suma += i
        
print(suma)

정수10
30

In [32]:
# 주민번호 '851205-2000000'
# 주민번호를 입력받은 후 "당신의 나이는 __이고, 성별은 __입니다"를 출력하시오..

num = input("주민번호")
sum_n = '19'+num[:2]
age = 2022 - int(sum_n)

if num[7] == 1:
    g = "남성"
else:
    g = "여성"
    
print("당신의 나이는 {}이고, 성별은 {}입니다".format(age,g))

주민번호880811-2222222
당신의 나이는 34이고, 성별은 여성입니다

In [34]:
# names = {'mary':1520, 'tom':5214, 'park':5478, 'sams':5478}
# 이름을 입력받은 후 names dict에 이름이 있으면 값을 출력하고,
# 없으면 새로운 값 2000과 함께 dict에 'key':'value'로 추가
# setdefault를 사용하지 않음..

names = {'mary':1520, 'tom':5214, 'park':5478, 'sams':5478}

na = input("이름")

if na in names:
    print(names[na])
else:
    names[na] = 2000
    
print(names)

이름dic
{'mary': 1520, 'tom': 5214, 'park': 5478, 'sams': 5478, 'dic': 2000}

In [35]:
# 학점 출력.. 점수를 입력받은 후..
# 90점 이상이면 "당신은 'A'학점입니다"를 출력
# 80점 이상이면서 90점 미만이면 "당신은 'B'학점입니다"를 출력
# 70점 이상이면서 80점 미만이면 "당신은 'C'학점입니다"를 출력
# 70점 미만이면 "당신은 D학점입니다"를 출력

s = int(input("점수"))

if s >= 90:
    print("당신은 A학점 입니다")
elif 90 > s >= 80:
    print("당신은 B학점 입니다")
elif 80 > s >= 70:
    print("당신은 C학점 입니다")
else:
    print("당신은 D학점 입니다")

점수88
당신은 B학점 입니다

In [ ]:
# For

# text = 'python is fun'
# text의 character를 모음만 대문자로 전환해서 출력하세요.   참고) 영어모음 = ‘aeiou’


# 위의 text의 문자를 index와 함께 출력하시오.

# 1~20까지 수에서 짝수만 리스트에 담으세요.
# => for문과 while문, list comprehension을 각각 활용


# 임의의 수를 입력받은 후 팩토리얼을 계산하는 코드를 작성하시오..



# 1~10까지 정수를 출력하는 while문에서 continue와 break를 이용해서 3,4,5,6만 출력하도록 하시오.



# x = ['a','b','c','d','e'], y = ['가','나','다','라','마'] 두 리스트의 원소들의 모든 조합을 아래와 같이 출력하시오.     =>     # [('a','가'), ('a','나'), ('a', '다')  ...  ('e','라'), ('e', '마')]


# computational thinking에서 홀수인덱스만 리스트에 담으세요..


# 점수를 5회 입력받은 후 평균을 출력하세요.



# text = 'hello world'에서 각 문자를 인덱스와 함께 튜플로 묶어서 출력
# (0, 'h'), (1, 'e') ...


# 구구단을 출력하시오…


# word의 길이가 4 이상인 단어의  단어길이 총합을 구하시오
words = ['mountain', 'sea', 'sky', 'river', 'cloud', 'tree', 'lake']

In [37]:
# For

text = 'python is fun'
# text의 character를 모음만 대문자로 전환해서 출력하세요.   참고) 영어모음 = ‘aeiou’
for i in text:
    if i in "aeiou":
        print(i.upper(), end=",")

O,I,U,

In [38]:
# 위의 text의 문자를 index와 함께 출력하시오.

for i in enumerate(text):
    print(i)

(0, 'p')
(1, 'y')
(2, 't')
(3, 'h')
(4, 'o')
(5, 'n')
(6, ' ')
(7, 'i')
(8, 's')
(9, ' ')
(10, 'f')
(11, 'u')
(12, 'n')

In [48]:
# 1~20까지 수에서 짝수만 리스트에 담으세요.
# => for문과 while문, list comprehension을 각각 활용
i = 1
li = []
while i < 21:
    if i % 2 == 0:
        li.append(i)
    i += 1
        
li

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [47]:
[i for i in range(1, 21) if i%2==0 ]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [49]:
# 임의의 수를 입력받은 후 팩토리얼을 계산하는 코드를 작성하시오..

n = int(input('수'))
suma = 0
for i in range(n, 0, -1):
    num = n * i
    suma += num
    
suma

수5

75

In [50]:
# 1~10까지 정수를 출력하는 while문에서 continue와 break를 이용해서 3,4,5,6만 출력하도록 하시오.
i = 0
while i < 11:
    i +=1
    if i < 3:
        continue
    if i > 6:
        break
    
    print(i)

3
4
5
6

In [52]:
# x = ['a','b','c','d','e'], y = ['가','나','다','라','마'] 두 리스트의 원소들의 모든 조합을 아래와 같이 출력하시오.     =>     
# [('a','가'), ('a','나'), ('a', '다')  ...  ('e','라'), ('e', '마')]
x = ['a','b','c','d','e']
y = ['가','나','다','라','마']

for i in range(len(x)):
    for j in range(len(y)):
        print(x[i],y[j])

a 가
a 나
a 다
a 라
a 마
b 가
b 나
b 다
b 라
b 마
c 가
c 나
c 다
c 라
c 마
d 가
d 나
d 다
d 라
d 마
e 가
e 나
e 다
e 라
e 마

In [53]:
# computational thinking에서 홀수인덱스만 리스트에 담으세요..
text = "computational thinking"
l = []
for i in range(len(text)):
    if i % 2 == 0:
        l.append(text[i])
        
l

['c', 'm', 'u', 'a', 'i', 'n', 'l', 't', 'i', 'k', 'n']

In [57]:
# 점수를 5회 입력받은 후 평균을 출력하세요.
suma = 0

for i in range(0,5):
    s = int(input("점수"))
    suma += s
    
print(suma/5)

점수10
점수10
점수10
점수10
점수10
점수10
12.0

In [61]:
# text = 'hello world'에서 각 문자를 인덱스와 함께 튜플로 묶어서 출력
# (0, 'h'), (1, 'e') ...
text = "hello world"

for i,j in enumerate(text):
    print((i,j))

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'w')
(7, 'o')
(8, 'r')
(9, 'l')
(10, 'd')

In [64]:
# 구구단을 출력하시오…
for i in range(1,10):
    for j in range(1,10):
        print("{} * {} = {}".format(i,j,i*j), end=" ")
    print()

1 * 1 = 1 1 * 2 = 2 1 * 3 = 3 1 * 4 = 4 1 * 5 = 5 1 * 6 = 6 1 * 7 = 7 1 * 8 = 8 1 * 9 = 9
2 * 1 = 2 2 * 2 = 4 2 * 3 = 6 2 * 4 = 8 2 * 5 = 10 2 * 6 = 12 2 * 7 = 14 2 * 8 = 16 2 * 9 = 18
3 * 1 = 3 3 * 2 = 6 3 * 3 = 9 3 * 4 = 12 3 * 5 = 15 3 * 6 = 18 3 * 7 = 21 3 * 8 = 24 3 * 9 = 27
4 * 1 = 4 4 * 2 = 8 4 * 3 = 12 4 * 4 = 16 4 * 5 = 20 4 * 6 = 24 4 * 7 = 28 4 * 8 = 32 4 * 9 = 36
5 * 1 = 5 5 * 2 = 10 5 * 3 = 15 5 * 4 = 20 5 * 5 = 25 5 * 6 = 30 5 * 7 = 35 5 * 8 = 40 5 * 9 = 45
6 * 1 = 6 6 * 2 = 12 6 * 3 = 18 6 * 4 = 24 6 * 5 = 30 6 * 6 = 36 6 * 7 = 42 6 * 8 = 48 6 * 9 = 54
7 * 1 = 7 7 * 2 = 14 7 * 3 = 21 7 * 4 = 28 7 * 5 = 35 7 * 6 = 42 7 * 7 = 49 7 * 8 = 56 7 * 9 = 63
8 * 1 = 8 8 * 2 = 16 8 * 3 = 24 8 * 4 = 32 8 * 5 = 40 8 * 6 = 48 8 * 7 = 56 8 * 8 = 64 8 * 9 = 72
9 * 1 = 9 9 * 2 = 18 9 * 3 = 27 9 * 4 = 36 9 * 5 = 45 9 * 6 = 54 9 * 7 = 63 9 * 8 = 72 9 * 9 = 81

In [66]:
# word의 길이가 4 이상인 단어의  단어길이 총합을 구하시오
words = ['mountain', 'sea', 'sky', 'river', 'cloud', 'tree', 'lake']

suma = 0

for i in words:
    if len(i) > 4:
        suma += len(i)
        
print(suma)

18

In [71]:
# File

# 'mytest.txt' 파일을 열어서 아래의 텍스트를 기록하세요..
text = """
'hello python',
'python programming',
'python world',
'bigdata',
'artificail intelligence'
""" 

f = open('text.txt', 'w')
f.write(text)
f.close()

In [73]:
# 'mytest.txt' 파일을 열어서 4가지 방법으로 읽어서 출력하세요

f = open("text.txt", "r")
tex = f.read()
f.close()

tex

"\n'hello python',\n'python programming',\n'python world',\n'bigdata',\n'artificail intelligence'\n"

In [75]:
with open('text.txt', 'r')as f:
    te = f.read()
    
te

"\n'hello python',\n'python programming',\n'python world',\n'bigdata',\n'artificail intelligence'\n"

In [76]:
f = open("text.txt", "r")
text = f.readlines()
f.close()

text

['\n',
 "'hello python',\n",
 "'python programming',\n",
 "'python world',\n",
 "'bigdata',\n",
 "'artificail intelligence'\n"]

In [81]:
f = open("text.txt", "r")
text = f.readlines()

for i in range(len(text)):
    print(text.readline())

AttributeError: 'list' object has no attribute 'readline'

In [ ]:
# Function

# 매개변수 3개를 받고, 합계, 평균, 최대값을 각각 리턴하는 함수를 만들고 실행하시오.




# 임의의 정수를 입력받은 후 절대값을 리턴하는 함수를 만들고 실행하시오.




# 임의의 정수를 입력받은 후 0부터 임의의 정수까지의 홀수 합을 리턴하는 함수를 만들고 실행하시오.





# 반지름을 입력받은 후 원의 면적을 리턴하는 함수를 구현하고 실행하시오.
pi = 3.14,   circle_area = (radius**2)*pi

In [84]:
# Function

# 매개변수 3개를 받고, 합계, 평균, 최대값을 각각 리턴하는 함수를 만들고 실행하시오.
def cal(n,n1,n2):
    suma = n + n1 + n2
    avg = suma/3
    maxa = max(n,n1,n2)
    return suma, avg, maxa

cal(1,2,3)

(6, 2.0, 3)

In [86]:
# 임의의 정수를 입력받은 후 절대값을 리턴하는 함수를 만들고 실행하시오.


def num(n):
    if n < 0:
        n = n * -1
    return n

n = int(input(''))

num(n)

-1

1

In [87]:
# 임의의 정수를 입력받은 후 0부터 임의의 정수까지의 홀수 합을 리턴하는 함수를 만들고 실행하시오.

def suma_h(n):
    suma = 0
    for i in range(n+1):
        if i%2==1:
            suma += i
    return suma

num = int(input(""))
suma_h(num)

5

9

In [90]:
# 반지름을 입력받은 후 원의 면적을 리턴하는 함수를 구현하고 실행하시오.
# pi = 3.14,   circle_area = (radius**2)*pi

def cir(r):
    pi = 3.14
    area = (r**2)*pi
    return area

r = int(input(""))
cir(r)

5

78.5

In [93]:
## 명함을 출력하는 class BusinessCardf만들고 객체를 생성해서 메소드를 실행하시오.
# 인스턴스변수 : name, email, addr
# 메소드 : __init__ : 인스턴스 변수 초기화
# 메소드 : print_business_card : 명함을 출력하는 메소드

class BusinessCard:
    def __init__(self, name, email, addr):
        self.name = name
        self.email = email
        self.addr = addr
        
    def card(self):
        print(self.name)
        print(self.email)
        print(self.addr)
        print("="*100)
        
bc = BusinessCard("doyeon","do.com","서울")


bc.card()

doyeon
do.com
서울
====================================================================================================

In [97]:
# 부모 class Parent
# 메소드 : can_sing
# 자식 class LuckyChild
# 메소드 : can_dance
# 위의 두 클래스를 만들고 child class의 메소드를 실행하시오..

class Parent:
    def can_sing(self):
        print("부모")
        
class LuckyChild(Parent):
    def can_dance(self):
        print("자식")
        
c = LuckyChild()

c.can_sing()

부모

In [103]:
# 사칙연산 클래스를 만들고 메소드를 실행하시오..
# 인스턴스변수 : x, y
# 메소드 : init, add, sub, mul, div
# overriding
# overriding
# Calculator class의 div 메소드를 overriding..

class cal:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def add(self):
        return self.x + self.y

    def sub(self):
        return self.x - self.y
    
    def mul(self):
        return self.x * self.y
    
    def div(self):
        return self.x/self.y
    
class plus(cal):
    def div(self):
        if self.y > 0:
            return self.x / self.y
        else:
            print("나누기 못해")
            
c = plus(6,0)

c.add()

6

In [107]:


# 원의 면적과 원의 둘레를 구현하는 class Circle
# 인스턴스변수 : r(반지름)
# 메소드 : area(원의 면적: 3.14*r**2), perimeter(원의 둘레: 3.14*r*2)

class Circle:
    pi = 3.14
    
    def __init__(self, r):
        self.r = r
    
    def area(self):
        return (self.r**2)*Circle.pi
    
    def peri(self):
        return self.r *2 *Circle.pi
    
c = Circle(5)

c.area()

78.5