### LIST

In [ ]:
score = [81, 90, 78, 'python', 'hello', True, [78, 56, 32], (24,25,3)]
# 't'를 출력하시오
# 56을 출력하시오
# 마지막 요소의 최대값을 출력하시오
#'python'을 'world'로 수정하시오
# 마지막에 'sun'을 추가하시오
#'world'가 있는지 확인하시오
# 마지막에서 2번째 요소를 내림차순으로 정렬하시오
# 90은 몇 번째 인덱스에 있는지 확인하시오
# 리스트를 역순으로 정렬하시오
# 3번째 인덱스에 'sea'를 추가하시오
# True를 False로 수정하시오
# 'world'를 제거하시오
# 7번째 요소를 제거하시오
# 마지막 요소를 제거하시오
# 리스트의 길이를 출력하시오
# 두번째 요소의 데이터타입을 출력하시오
#[78, 56, 32]를 '78:56:32'로 수정하시오
# 모든 원소를 제거하시오
# 리스트를 삭제하시오

In [184]:
score = [81, 90, 78, 'python', 'hello', True, [78, 56, 32], (24,25,3)]
# 't'를 출력하시오
score[3][2]

't'

In [133]:
# 56을 출력하시오
score[-2][1]

56

In [134]:
# 마지막 요소의 최대값을 출력하시오
max(score[-1])

25

In [135]:
#'python'을 'world'로 수정하시오
score[3] = 'world'

In [136]:
# 마지막에 'sun'을 추가하시오
score.append('sun')
score

[81, 90, 78, 'world', 'hello', True, [78, 56, 32], (24, 25, 3), 'sun']

In [137]:
#'world'가 있는지 확인하시오
'world' in score

True

In [138]:
# 마지막에서 2번째 요소를 내림차순으로 정렬하시오
sorted(score[-2], reverse=True)

[25, 24, 3]

In [140]:
# 90은 몇 번째 인덱스에 있는지 확인하시오
score.index(90)

1

In [141]:
# 리스트를 역순으로 정렬하시오
score.reverse()

In [142]:
# 3번째 인덱스에 'sea'를 추가하시오
score.insert(3, 'sea')

In [144]:
# True를 False로 수정하시오
score[score.index(True)] = False
score

['sun', (24, 25, 3), [78, 56, 32], 'sea', False, 'hello', 'world', 78, 90, 81]

In [145]:
# 'world'를 제거하시오
score.remove('world')
score

['sun', (24, 25, 3), [78, 56, 32], 'sea', False, 'hello', 78, 90, 81]

In [146]:
# 7번째 요소를 제거하시오
score.pop(7)
score

['sun', (24, 25, 3), [78, 56, 32], 'sea', False, 'hello', 78, 81]

In [147]:
# 마지막 요소를 제거하시오
score.pop()
score

['sun', (24, 25, 3), [78, 56, 32], 'sea', False, 'hello', 78]

In [148]:
# 리스트의 길이를 출력하시오
len(score)

7

In [149]:
# 두번째 요소의 데이터타입을 출력하시오
type(score[1])

tuple

In [185]:
#[78, 56, 32]를 '78:56:32'로 수정하시오
score[score.index([78,56,32])] = ':'.join([str(s) for s in [78,56,32]])
score

[81, 90, 78, 'python', 'hello', True, '78:56:32', (24, 25, 3)]

In [154]:
# 모든 원소를 제거하시오
score.clear()
score

[]

In [155]:
# 리스트를 삭제하시오
del score

### String

In [ ]:
txt1 = '  A tale that was not right  '
txt2 = '이 또한 지나가리라  '

# ---------------------------------

# tale을 출력하시오
# '지'를 출력하시오
# 'a'는 몇 개가 존재하는가?
# txt1에서 모음의 갯수는 몇 개인가?
# '또한'을 '것도'로 수정하시오
# txt1을 대문자로 출력하시오
# txt1에서 right은 몇 번째 인덱스에 등장하는가?
# txt1을 space를 기준으로 나누어서 리스트에 담으시오
# txt2의 길이는 얼마인가?
# txt2를 character 단위로 나누어서 리스트에 담으시오
# txt1의 좌우 공백을 제거하시오
# txt2를 역순으로 출력하시오
# txt1에서 짝수 인덱스만 출력하시오
# txt2를 두 번 반복하시오
# txt1과 txt2를 연결하여 하나의 문자열로 만드시오
# txt1에서 'right'가 존재하는지 확인하시오
# txt1에서 뒤에서 5번째 문자를 출력하시오
# txt1의 문자를 index와 튜플로 묶어서 리스에 담으시오
url = 'http://www.naver.com/news/today=20221230'
#url 중 도메인만 출력하시오
log = 'name : 홍길동, age : 17, sex : 남성, nation : 대한민국'
# 아래와 같이 출력하시오
# name =>
# age => 17
# sex =>

In [156]:
txt1 = '  A tale that was not right  '
txt2 = '이 또한 지나가리라  '

# ---------------------------------

# tale을 출력하시오
txt1[4:8]

'tale'

In [157]:
# '지'를 출력하시오
txt2[5]

'지'

In [158]:
# 'a'는 몇 개가 존재하는가?
txt1.count('a')

3

In [159]:
# txt1에서 모음의 갯수는 몇 개인가?
c = 0
for i in txt1:
    if i == 'aeiouAEIOU':
        c += 1
c

0

In [160]:
# '또한'을 '것도'로 수정하시오
txt2.replace('또한','것도')

'이 것도 지나가리라  '

In [161]:
# txt1을 대문자로 출력하시오
txt1.upper()

'  A TALE THAT WAS NOT RIGHT  '

In [162]:
# txt1에서 right은 몇 번째 인덱스에 등장하는가?
txt1.index('right')

22

In [163]:
# txt1을 space를 기준으로 나누어서 리스트에 담으시오
txt1.split(' ')

['', '', 'A', 'tale', 'that', 'was', 'not', 'right', '', '']

In [164]:
# txt2의 길이는 얼마인가?
len(txt2)

12

In [165]:
# txt2를 character 단위로 나누어서 리스트에 담으시오
txt2.split('character')

['이 또한 지나가리라  ']

In [166]:
# txt1의 좌우 공백을 제거하시오
txt1.strip()

'A tale that was not right'

In [167]:
# txt2를 역순으로 출력하시오
txt2[::-1]

'  라리가나지 한또 이'

In [169]:
# txt1에서 짝수 인덱스만 출력하시오
txt1[1:30:2]

'  aeta a o ih '

In [170]:
# txt2를 두 번 반복하시오
txt2 * 2

'이 또한 지나가리라  이 또한 지나가리라  '

In [171]:
# txt1과 txt2를 연결하여 하나의 문자열로 만드시오
txt1+txt2

'  A tale that was not right  이 또한 지나가리라  '

In [172]:
# txt1에서 'right'가 존재하는지 확인하시오
'right' in txt1

True

In [173]:
# txt1에서 뒤에서 5번째 문자를 출력하시오
txt1[-5]

'g'

In [174]:
# txt1의 문자를 index와 튜플로 묶어서 리스에 담으시오
[(i,a) for i,a in enumerate(txt1)]

[(0, ' '),
 (1, ' '),
 (2, 'A'),
 (3, ' '),
 (4, 't'),
 (5, 'a'),
 (6, 'l'),
 (7, 'e'),
 (8, ' '),
 (9, 't'),
 (10, 'h'),
 (11, 'a'),
 (12, 't'),
 (13, ' '),
 (14, 'w'),
 (15, 'a'),
 (16, 's'),
 (17, ' '),
 (18, 'n'),
 (19, 'o'),
 (20, 't'),
 (21, ' '),
 (22, 'r'),
 (23, 'i'),
 (24, 'g'),
 (25, 'h'),
 (26, 't'),
 (27, ' '),
 (28, ' ')]

In [175]:
url = 'http://www.naver.com/news/today=20221230'
#url 중 도메인만 출력하시오
url.split('/')[2]

'www.naver.com'

In [179]:
log = 'name : 홍길동, age : 17, sex : 남성, nation : 대한민국'
# 아래와 같이 출력하시오
# name =>
# age => 17
# sex =>

for i in log.split('/'):
    print(i.split(':')[0].strip(), '=>', i.split(':')[1].strip())

name => 홍길동, age

In [186]:
# String
# txt1 = 'A tale that was not right'
# 'ale' 이 출력..
# 'A tale' 출력
# 'not' 출력
# txt1을 소문자 전환
# txt1을 대문자 전환
# 'o'가 몇 개 존재하는가?
# 'o'가 몇 번 인덱스에 존재하는가?
# txt1의 길이는 어떻게 되는가?
# space를 기준으로 나누어서 List에 담으세요..
# 'tale'을 'story'로 바꾸세요..
# txt1 안에 'right'가 존재하는지 확인

In [348]:
# txt1 = 'A tale that was not right'
# 'ale' 이 출력..
txt1[5:9]

'ale '

In [349]:
# 'A tale' 출력
txt1[:9]

'  A tale '

In [352]:
# 'not' 출력
txt1[18:21]

'not'

In [353]:
# txt1을 소문자 전환
txt1.lower()

'  a tale that was not right  '

In [354]:
# txt1을 대문자 전환
txt1.upper()

'  A TALE THAT WAS NOT RIGHT  '

In [355]:
# 'o'가 몇 개 존재하는가?
txt1.count('o')

1

In [356]:
# 'o'가 몇 번 인덱스에 존재하는가?
txt1.index('o')

19

In [ ]:
# txt1의 길이는 어떻게 되는가?
len(txt1)

In [358]:
# space를 기준으로 나누어서 List에 담으세요..
txt1.split(' ')

['', '', 'A', 'tale', 'that', 'was', 'not', 'right', '', '']

In [359]:
# 'tale'을 'story'로 바꾸세요..
txt1.replace('tale','story')

'  A story that was not right  '

In [361]:
# txt1 안에 'right'가 존재하는지 확인
'right' in txt1

True

In [ ]:
# List
sol = ['태양','수성','금성','지구','화성','목성','지구']
sol1 = ['토성','천황성','해왕성']
planet = '지구'

# 1. sol에서 ['수성','금성']을 출력
# 2. sol에서 '지구' 위치 인덱스 출력
# 3. sol에서 '화성'을 '해왕성'으로 수정
# 4. '수성'자리에 '명왕성' 삽입
# 5. '토성'을 맨 끝에 삽입
# 6. 맨 끝 요소를 삭제하고 리턴
# 7. '금성'을 제거
# 8. 1번 인덱스에서 3번 인덱스까지 삭제
# 9. 인덱스 2번 요소 삭제
# 10. sol과 sol1을 합치세요
# 11. 내림차순 정렬
# 12. 오름차순 정렬
# 13. '만리장성'이 있는지 확인
# 14. so1을 3번 반복하세요
# 15. 길이를 출력하세요
# 16. '지구'가 몇 개 포함되어있는지 확인.
# 17. 모든 원소를 지우세요.
# 18. sol리스트를 삭제하세요..

In [362]:
# List
sol = ['태양','수성','금성','지구','화성','목성','지구']
sol1 = ['토성','천황성','해왕성']
planet = '지구'

# 1. sol에서 ['수성','금성']을 출력
sol[1:3]

['수성', '금성']

In [363]:
# 2. sol에서 '지구' 위치 인덱스 출력
sol.index('지구')

3

In [364]:
# 3. sol에서 '화성'을 '해왕성'으로 수정
sol[sol.index('화성')]='해왕성'
sol

['태양', '수성', '금성', '지구', '해왕성', '목성', '지구']

In [365]:
# 4. '수성'자리에 '명왕성' 삽입
sol[sol.index('수성')]='명왕성'
sol

['태양', '명왕성', '금성', '지구', '해왕성', '목성', '지구']

In [366]:
# 5. '토성'을 맨 끝에 삽입
sol.append('토성')

In [367]:
# 6. 맨 끝 요소를 삭제하고 리턴
sol.pop()
sol

['태양', '명왕성', '금성', '지구', '해왕성', '목성', '지구']

In [368]:
# 7. '금성'을 제거
sol.remove('금성')
sol

['태양', '명왕성', '지구', '해왕성', '목성', '지구']

In [369]:
# 8. 1번 인덱스에서 3번 인덱스까지 삭제
del sol[1:3]
sol

['태양', '해왕성', '목성', '지구']

In [370]:
# 9. 인덱스 2번 요소 삭제
del sol[2]

In [372]:
# 10. sol과 sol1을 합치세요
sol+sol1

['태양', '해왕성', '지구', '토성', '천황성', '해왕성']

In [373]:
# 11. 내림차순 정렬
sorted(sol, reverse = True)

['해왕성', '태양', '지구']

In [374]:
# 12. 오름차순 정렬
sorted(sol, reverse = False)

['지구', '태양', '해왕성']

In [375]:
# 13. '만리장성'이 있는지 확인
'만리장성' in sol

False

In [376]:
# 14. so1을 3번 반복하세요
sol * 3

['태양', '해왕성', '지구', '태양', '해왕성', '지구', '태양', '해왕성', '지구']

In [377]:
# 15. 길이를 출력하세요
len(sol)

3

In [378]:
# 16. '지구'가 몇 개 포함되어있는지 확인.
sol.count('지구')

1

In [379]:
# 17. 모든 원소를 지우세요.
sol.clear()
sol

[]

In [380]:
# 18. sol리스트를 삭제하세요..
del sol

In [ ]:
# Tuple
myTuple = ('tuple', (1,2,3) , [4,5,6,7,8] ,'7', '8', '9')

# 'tuple'을 출력하세요
# 3을 출력하세요
# 4,5를 출력하세요
# [4,5,6]을 출력하세요
# tuple의 길이를 리턴하세요 ( 요소의 갯수가 몇 개인지 )
# '7'이 있는지 확인하세요
# '7'의 인덱스를 출력하세요.
# '7'이 몇 개 있는지 확인하세요
# 인데스 2번를 출력하세요
# 인데스 2번에서 최대값을 출력하세요
# 인데스 2번에서 최소값을 출력하세요
# 인데스 2번에서 총합을 출력하세요
# 인데스 2번에서 평균을 출력하세요
# 인데스 2번를 내림차순 정렬해서 출력하세요.

In [71]:
# Tuple
myTuple = ('tuple', (1,2,3) , [4,5,6,7,8] ,'7', '8', '9')

# 'tuple'을 출력하세요
print(myTuple)

('tuple', (1, 2, 3), [4, 5, 6, 7, 8], '7', '8', '9')

In [72]:
# 3을 출력하세요
myTuple[1][2]

3

In [74]:
# 4,5를 출력하세요
myTuple[2][:2]

[4, 5]

In [75]:
# [4,5,6]을 출력하세요
myTuple[2][:3]

[4, 5, 6]

In [76]:
# tuple의 길이를 리턴하세요 ( 요소의 갯수가 몇 개인지 )
len(myTuple)

6

In [77]:
# '7'이 있는지 확인하세요
'7' in myTuple

True

In [78]:
# '7'의 인덱스를 출력하세요.
myTuple.index('7')

3

In [79]:
# '7'이 몇 개 있는지 확인하세요
myTuple.count('7')

1

In [80]:
# 인데스 2번를 출력하세요
myTuple[2]

[4, 5, 6, 7, 8]

In [82]:
# 인데스 2번에서 최대값을 출력하세요
max(myTuple[2])

8

In [83]:
# 인데스 2번에서 최소값을 출력하세요
min(myTuple[2])

4

In [84]:
# 인데스 2번에서 총합을 출력하세요
sum(myTuple[2])

30

In [85]:
# 인데스 2번에서 평균을 출력하세요
sum(myTuple[2])/len(myTuple)

5.0

In [86]:
# 인데스 2번를 내림차순 정렬해서 출력하세요.
sorted(myTuple[2], reverse = True)

[8, 7, 6, 5, 4]

In [ ]:
# Set

# 원소가 없는 set인 s를 만드세요
# s에 원소 'sky'와 'earth'를 추가하세요
# s에 1,2 두 원소를 추가하세요
# s에서 'sky'를 삭제하세요

A = {1,2,3,4,5,6}
B = {1,2,3,7,8,9}
C = {1,2,3}
# 두 집합의 합집합을 출력
# 두 집합의 교집합을 출력
# A의 B에 대한 차집합
# 대칭차집합
# C가 A의 부분집합인지 확인
# A가 C를 포함하는지 확인

# 집합 B의 길이를 출력
# 집합 B의 최대값 출력
# 집합 B의 최소값 출력
# 집합 B의 합을 출력
# 집합 B의 평균출력
# 집합 B의 내림차순 출력
# 집합 B에 5가 포함되어 있는지 확인

In [87]:
# Set

# 원소가 없는 set인 s를 만드세요
s = set()

In [88]:
# s에 원소 'sky'와 'earth'를 추가하세요
s.add('sky')
s.add('earth')
s

{'earth', 'sky'}

In [89]:
# s에 1,2 두 원소를 추가하세요
set.update({1,2})

In [90]:
# s에서 'sky'를 삭제하세요
s.remove('sky')
s

{'earth'}

In [91]:
A = {1,2,3,4,5,6}
B = {1,2,3,7,8,9}
C = {1,2,3}
# 두 집합의 합집합을 출력
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [92]:
# 두 집합의 교집합을 출력
A.intersection(B)

{1, 2, 3}

In [93]:
# A의 B에 대한 차집합
A.difference(B)

{4, 5, 6}

In [94]:
# 대칭차집합
A.symmetric_difference(B)

{4, 5, 6, 7, 8, 9}

In [96]:
# C가 A의 부분집합인지 확인
C.issubset(A)

True

In [97]:
# A가 C를 포함하는지 확인
C.issuperset(A)

False

In [98]:
# 집합 B의 길이를 출력
len(B)

6

In [99]:
# 집합 B의 최대값 출력
max(B)

9

In [100]:
# 집합 B의 최소값 출력
min(B)

1

In [101]:
# 집합 B의 합을 출력
sum(B)

30

In [102]:
# 집합 B의 평균출력
sum(B)/len(B)

5.0

In [103]:
# 집합 B의 내림차순 출력
sorted(B, reverse = True)

[9, 8, 7, 3, 2, 1]

In [104]:
# 집합 B에 5가 포함되어 있는지 확인
5 in B

False

In [ ]:
# Dictionary

# 'mydict'라는 딕셔너리를 만드세요.
# 'red':4, 'blue':3, 'green':1 세 요소를 추가하세요.
# key에 'blue'가 있는지 확인하세요.
# mydict의 길이를 출력하세요.
# 'red'의 값을 출력하세요.
# 'red'의 값을 10으로 수정하세요.
# key값만 출력하세요
# value값만 출력하세요
# key와 value를 튜플로 출력하세요.
# (key기준으로 정렬하세요.)
# (value기준으로 정렬하세요)
# key 'blue'요소를 삭제하세요
# key 'pink'요소 값을 출력하되 오류가 없도록 하세요
# key 'pink' 값을 출력하되 없으면, value 20으로 새로이 추가하세요
# value에 20이 있는지 확인하세요.
# key는 'yellow'에 value는 30을 추가하세요.
# yourdict = {'파랑':50, '빨강':70}을 합하세요..

In [107]:
# Dictionary

# 'mydict'라는 딕셔너리를 만드세요.
d = {}

In [108]:
# 'red':4, 'blue':3, 'green':1 세 요소를 추가하세요.
d['red'] = 4
d['blue'] = 3
d['green'] = 1
d

{'red': 4, 'blue': 3, 'green': 1}

In [110]:
# key에 'blue'가 있는지 확인하세요.
'blue' in d

True

In [111]:
# mydict의 길이를 출력하세요.
len(d)

3

In [112]:
# 'red'의 값을 출력하세요.
d['red']

4

In [113]:
# 'red'의 값을 10으로 수정하세요.
d['red']=10
d

{'red': 10, 'blue': 3, 'green': 1}

In [114]:
# key값만 출력하세요
d.keys()

dict_keys(['red', 'blue', 'green'])

In [115]:
# value값만 출력하세요
d.values()

dict_values([10, 3, 1])

In [116]:
# key와 value를 튜플로 출력하세요.
d.items()

dict_items([('red', 10), ('blue', 3), ('green', 1)])

In [128]:
# (key기준으로 정렬하세요.)
sorted(d.items(), key = lambda x:x[0])

[('blue', 3), ('green', 1), ('red', 10)]

In [127]:
# (value기준으로 정렬하세요)
sorted(d.items(), key = lambda x:x [1])

[('green', 1), ('blue', 3), ('red', 10)]

In [129]:
# key 'blue'요소를 삭제하세요
d.pop('blue')
d

{'red': 10, 'green': 1}

In [130]:
# key 'pink'요소 값을 출력하되 오류가 없도록 하세요
d.get('pink')

In [134]:
# key 'pink' 값을 출력하되 없으면, value 20으로 새로이 추가하세요
d.setdefault('pink', 20)
d

{'red': 10, 'green': 1, 'pink': 20}

In [135]:
# value에 20이 있는지 확인하세요.
20 in d

False

In [136]:
# key는 'yellow'에 value는 30을 추가하세요.
d['yellow']=30

In [137]:
# yourdict = {'파랑':50, '빨강':70}을 합하세요..
yourdict = {'파랑':50, '빨강':70}
d.update(yourdict)
d

{'red': 10, 'green': 1, 'pink': 20, 'yellow': 30, '파랑': 50, '빨강': 70}