In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings(action='ignore') 

import requests
from bs4 import BeautifulSoup
from selenium import webdriver

import MySQLdb
import re

In [2]:
driver = webdriver.Chrome()

url = 'http://www.cine21.com/rank/person'

elem = driver.get(url)

In [3]:
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

In [4]:
path = '#rank_holder > ul > li'

dd = soup.select(path)

In [5]:
name = dd[0].select('div > a')[0].text
name

'강하늘(2편)'

In [6]:
actor_dict = dict()

In [31]:
rank = []
name = []
like = []
movie = []
movie_li = []



for i in dd:
    rank.append(i.select('span.grade')[0].text)
    name.append(i.select('div > a')[0].text[:3])
    like.append(i.select(' ul.num_info > li > strong')[0].text.replace(',',''))
           
    
    
# print(rank)
# print(name)
# print(like)

In [32]:
ff = soup.select('li.people_li ul.mov_list')
for s in ff:
    actor_movie = []
    for l in s.select('span'):
        actor_movie.append(l.text.strip())
    movie_li.append(actor_movie)

In [40]:
movie_li

[['해적: 도깨비 깃발', '해피 뉴 이어'],
 ['해적: 도깨비 깃발'],
 ['해적: 도깨비 깃발', '해피 뉴 이어'],
 ['해적: 도깨비 깃발'],
 ['경관의 피', '1984 최동원'],
 ['경관의 피'],
 ['해적: 도깨비 깃발']]

In [34]:
actor_dict['rank'] = rank
actor_dict['name'] = name
actor_dict['like'] = like
actor_dict['movie'] = movie_li
actor_dict

{'rank': ['1', '2', '3', '4', '5', '6', '7'],
 'name': ['강하늘', '한효주', '이광수', '권상우', '조진웅', '박희순', '채수빈'],
 'like': ['79146', '67355', '59495', '48111', '46097', '40924', '38489'],
 'movie': [['해적: 도깨비 깃발', '해피 뉴 이어'],
  ['해적: 도깨비 깃발'],
  ['해적: 도깨비 깃발', '해피 뉴 이어'],
  ['해적: 도깨비 깃발'],
  ['경관의 피', '1984 최동원'],
  ['경관의 피'],
  ['해적: 도깨비 깃발']]}

In [108]:
main_url = 'http://www.cine21.com/'
actor_url = []

for i in dd:
    actor_url.append(main_url+i.select('div > a')[0]['href'])
    
actor_url

['http://www.cine21.com//db/person/info/?person_id=78487',
 'http://www.cine21.com//db/person/info/?person_id=56311',
 'http://www.cine21.com//db/person/info/?person_id=71308',
 'http://www.cine21.com//db/person/info/?person_id=15225',
 'http://www.cine21.com//db/person/info/?person_id=60358',
 'http://www.cine21.com//db/person/info/?person_id=20772',
 'http://www.cine21.com//db/person/info/?person_id=95811']

In [109]:
actor_info_li = []
actor_info = dict()

In [106]:
driver.get(actor_url[0])

In [107]:
html = driver.page_source
soup = BeautifulSoup(html,'html.parser')

sub_path = '#info_content > div.default_info_area > ul '

sub = soup.select(sub_path)

actor = sub[0].select('li')

actor

for i in actor:
    key = i.select('span')[0].text
    li = re.sub("<span.*?>.*?</span>", '', str(i))
    value = re.sub("<.+?>", "", li)
#     print(value.strip())
    
    actor_info[key] = value.strip()

        
actor_info

{'다른 이름': '김하늘',
 '직업': '배우',
 '생년월일': '1990-02-21',
 '성별': '남',
 '홈페이지': 'http://weibo.com/galpos3?is_hot=1',
 '신장/체중': '181cm, 70kg',
 '학교': '중앙대학교 연극학과',
 '취미': '영화감상',
 '소속사': '킹콩엔터테인먼트'}

In [110]:


for i in actor_url:
    actor_info = dict()
    driver.get(i)
    html = driver.page_source
    soup = BeautifulSoup(html,'html.parser')

    sub_path = '#info_content > div.default_info_area > ul '

    sub = soup.select(sub_path)

    actor = sub[0].select('li')

    actor

    for i in actor:
        key = i.select('span')[0].text
        li = re.sub("<span.*?>.*?</span>", '', str(i))
        value = re.sub("<.+?>", "", li)
#     print(value.strip())
    
        actor_info[key] = value.strip()
    actor_info_li.append(actor_info)

In [111]:
actor_info_li

[{'다른 이름': '김하늘',
  '직업': '배우',
  '생년월일': '1990-02-21',
  '성별': '남',
  '홈페이지': 'http://weibo.com/galpos3?is_hot=1',
  '신장/체중': '181cm, 70kg',
  '학교': '중앙대학교 연극학과'},
 {'직업': '배우',
  '생년월일': '1987-02-22',
  '성별': '여',
  '홈페이지': 'https://www.facebook.com/hhj.official',
  '신장/체중': '170cm',
  '학교': '동국대학교 연극영화',
  '취미': '영화감상'},
 {'직업': '배우',
  '생년월일': '1985-07-14',
  '성별': '남',
  '홈페이지': 'https://twitter.com/masijacoke85\nhttps://www.instagram.com/masijacoke850714/',
  '신장/체중': '190cm',
  '소속사': '킹콩엔터테인먼트'},
 {'다른 이름': 'Kwon Sang Woo',
  '직업': '배우',
  '생년월일': '1976-08-05',
  '성별': '남',
  '신장/체중': '183cm, 72kg',
  '학교': '한남대학교 미술교육학 학사',
  '취미': '수영, 헬스, 복싱',
  '특기': '농구',
  '소속사': '벨액터스 엔터테인먼트'},
 {'다른 이름': '조원준',
  '직업': '배우',
  '생년월일': '1976-03-03',
  '성별': '남',
  '홈페이지': 'http://www.facebook.com/saram.chojinwoong',
  '신장/체중': '185cm, 98kg',
  '학교': '경성대학교 연극영화',
  '특기': '진도 북춤',
  '소속사': '㈜사람엔터테인먼트'},
 {'직업': '배우',
  '생년월일': '1970-02-13',
  '성별': '남',
  '홈페이지': 'https://twitter.com/sulebari',
  '신장/체중': '180cm, 70kg',
  '학교': '서울예술대학 연극과'},
 {'직업': '배우',
  '생년월일': '1994-07-10',
  '성별': '여',
  '홈페이지': 'https://instagram.com/soobinms/\nhttps://www.facebook.com/OfficialChaesoobin'}]

# 데이터프레임 만들기

In [37]:
df_actor = pd.DataFrame(actor_dict)

In [38]:
df_actor

  rank name   like                  movie
0    1  강하늘  79146  [해적: 도깨비 깃발, 해피 뉴 이어]
1    2  한효주  67355           [해적: 도깨비 깃발]
2    3  이광수  59495  [해적: 도깨비 깃발, 해피 뉴 이어]
3    4  권상우  48111           [해적: 도깨비 깃발]
4    5  조진웅  46097      [경관의 피, 1984 최동원]
5    6  박희순  40924                [경관의 피]
6    7  채수빈  38489           [해적: 도깨비 깃발]

In [112]:
df_actor_info_li = pd.DataFrame(actor_info)
df_actor_info_li

ValueError: If using all scalar values, you must pass an index