In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os

In [33]:
f1_li=[]
f2_li=[]

for f in os.listdir('e:/smallsize/train/'):
    f1_li.append(f)
    f2_li.append(len(os.listdir('e:/smallsize/train/'+f)))

In [34]:
len(f2_li)

564

In [35]:
df = pd.DataFrame()
df['class'] = f1_li
df['num']=f2_li
df

         class  num
0    class_000  165
1    class_001  176
2    class_002  187
3    class_003   77
4    class_004  165
..         ...  ...
559  class_564   99
560  class_565  242
561  class_566   66
562  class_567   88
563  class_568  319

[564 rows x 2 columns]

In [36]:
df_a = df[df['num'] > 170]

In [37]:
df_a

         class  num
1    class_001  176
2    class_002  187
5    class_005  385
6    class_006  209
7    class_007  176
..         ...  ...
554  class_559  242
555  class_560  176
558  class_563  198
560  class_565  242
563  class_568  319

[183 rows x 2 columns]

In [29]:
import shutil
from distutils.dir_util import copy_tree

In [30]:
for cl in df_a['class']:
    shutil.copytree('e:/smallsize/train/'+cl,'e:/smallsize_183/train/'+cl)

In [31]:
for cl in df_a['class']:
    shutil.copytree('e:/smallsize/test/'+cl,'e:/smallsize_183/test/'+cl)
    shutil.copytree('e:/smallsize/val/'+cl,'e:/smallsize_183/val/'+cl)

In [38]:
df_a.to_csv('class_183.csv')