In [59]:
import pandas as pd
import numpy as np
import os

# 재무데이터+주가데이터

In [68]:
file_li = os.listdir('C:/Users/bitcamp/Desktop/final_data/kospi재무데이터/재무제표/kospi/')
# file_li

In [63]:
for file in file_li:
    # 재무데이터 불러오기
    info_df = pd.read_csv(f'C:/Users/bitcamp/Desktop/final_data/kospi재무데이터/재무제표/kospi/{file}', index_col=0)

    # 재무데이터 전치
    info_df_t = info_df.T

    info_df_t.columns = info_df_t.iloc[0]
    info_df_t = info_df_t.iloc[1:,:]

    # 재무데이터 인덱스 정리
    info_df_t.reset_index(inplace=True)
    info_df_t.rename(columns={'index':'quarter'}, inplace=True)

    # 분기를 월로 넣어주기
    q_date_li = []
    for d in range(len(info_df_t)):
        if info_df_t.iloc[d, 0][-1] == '1':
            q_date_li.append(info_df_t.iloc[d, 0][:5]+'01')
        elif info_df_t.iloc[d, 0][-1] == '2':
            q_date_li.append(info_df_t.iloc[d, 0][:5]+'04')
        elif info_df_t.iloc[d, 0][-1] == '3':
            q_date_li.append(info_df_t.iloc[d, 0][:5]+'07')
        elif info_df_t.iloc[d, 0][-1] == '4':
            q_date_li.append(info_df_t.iloc[d, 0][:5]+'10')

    date_df = pd.DataFrame(q_date_li, columns=['month'])

    info_df = pd.concat([info_df_t, date_df], axis=1)

#     info_df = info_df[['month','quarter', '유동자산', '비유동자산', '자산총계', '유동부채', '비유동부채', '부채총계', '이익잉여금',
#            '자본총계', '매출액', '영업이익', '법인세차감전 순이익', '당기순이익', '자본금']]

    # 주가데이터 불러오기
    day_df = pd.read_csv(f'C:/Users/bitcamp/Desktop/final_data/재무데이터+주가데이터(일일)_0/{file}', index_col=0)

    day_df_month_li = []
    for d in range(len(day_df)):
        day_df_month_li.append(day_df.index[d][:7])
    day_df['month'] = day_df_month_li

    # 2022년 3월까지
    day_df = day_df[day_df['month'] < '2022-04']

    day_df.reset_index(inplace=True)
    day_df.rename(columns={'index':'date'}, inplace=True)
#     day_df = day_df[['date','month','시가', '고가', '저가', '종가', '거래량', '거래대금', '등락률', '종목명', '시가총액', '상장주식수',
#            '수정종가', 'BPS', 'PER', 'PBR', 'EPS', 'DIV', 'DPS']]

    # 재무 + 주가
    temp = pd.merge(day_df, info_df, how='outer', on='month')
    temp.fillna(method='ffill', inplace=True)
    
#     temp.to_csv(f'C:/Users/bitcamp/Desktop/final_data/DB/재무+주가/{file}')

In [53]:
temp

,date,month,시가,고가,저가,종가,거래량,거래대금,등락률,종목명,...,유동부채,비유동부채,부채총계,이익잉여금,자본총계,매출액,영업이익,법인세차감전 순이익,당기순이익,자본금
0,2016-01-04,2016-01,1260000,1260000,1205000,1205000,306939,375331217000,-4.37,5930,...,4.904950e+13,1.386410e+13,6.291360e+13,1.832186e+14,1.783262e+14,4.978225e+13,6.675812e+12,7.122485e+12,5.252803e+12,NaN
1,2016-01-05,2016-01,1202000,1218000,1186000,1208000,216002,260737452839,0.25,5930,...,4.904950e+13,1.386410e+13,6.291360e+13,1.832186e+14,1.783262e+14,4.978225e+13,6.675812e+12,7.122485e+12,5.252803e+12,NaN
2,2016-01-06,2016-01,1208000,1208000,1168000,1175000,366752,433569054000,-2.73,5930,...,4.904950e+13,1.386410e+13,6.291360e+13,1.832186e+14,1.783262e+14,4.978225e+13,6.675812e+12,7.122485e+12,5.252803e+12,NaN
3,2016-01-07,2016-01,1166000,1183000,1151000,1163000,282388,329335893500,-1.02,5930,...,4.904950e+13,1.386410e+13,6.291360e+13,1.832186e+14,1.783262e+14,4.978225e+13,6.675812e+12,7.122485e+12,5.252803e+12,NaN
4,2016-01-08,2016-01,1163000,1186000,1163000,1171000,257763,301860685807,0.69,5930,...,4.904950e+13,1.386410e+13,6.291360e+13,1.832186e+14,1.783262e+14,4.978225e+13,6.675812e+12,7.122485e+12,5.252803e+12,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1529,2022-03-25,2022-03,70100,70200,69600,69800,12986010,906006321000,0.00,5930,...,9.046370e+13,3.357234e+13,1.240360e+14,3.017432e+14,3.152909e+14,7.778150e+13,1.412141e+13,1.506984e+13,1.132463e+13,8.975140e+11
1530,2022-03-28,2022-03,69500,69900,69200,69700,12619289,878172199900,-0.14,5930,...,9.046370e+13,3.357234e+13,1.240360e+14,3.017432e+14,3.152909e+14,7.778150e+13,1.412141e+13,1.506984e+13,1.132463e+13,8.975140e+11
1531,2022-03-29,2022-03,70000,70300,69800,70200,13686208,958589509700,0.72,5930,...,9.046370e+13,3.357234e+13,1.240360e+14,3.017432e+14,3.152909e+14,7.778150e+13,1.412141e+13,1.506984e+13,1.132463e+13,8.975140e+11
1532,2022-03-30,2022-03,70300,70500,69800,69900,12670187,887514318650,-0.43,5930,...,9.046370e+13,3.357234e+13,1.240360e+14,3.017432e+14,3.152909e+14,7.778150e+13,1.412141e+13,1.506984e+13,1.132463e+13,8.975140e+11
1533,2022-03-31,2022-03,69900,70200,69600,69600,12510366,873212583300,-0.43,5930,...,9.046370e+13,3.357234e+13,1.240360e+14,3.017432e+14,3.152909e+14,7.778150e+13,1.412141e+13,1.506984e+13,1.132463e+13,8.975140e+11

In [67]:
pd.read_csv('C:/Users/bitcamp/Desktop/final_data/DB/재무+주가/001070.csv', index_col=0)

,date,시가,고가,저가,종가,거래량,거래대금,등락률,종목명,시가총액,...,유동부채,비유동부채,부채총계,이익잉여금,자본총계,매출액,영업이익,법인세차감전 순이익,당기순이익,자본금
0,2016-01-04,63700,65500,63400,63600,2134,137429100,-0.78,1070,67416000000,...,1.666293e+11,3.726505e+10,2.038944e+11,NaN,1.632830e+11,5.730329e+10,615292889.0,-9.264362e+08,-7.944004e+08,5.300000e+09
1,2016-01-05,63600,65600,63600,65600,2411,156096200,3.14,1070,69536000000,...,1.666293e+11,3.726505e+10,2.038944e+11,NaN,1.632830e+11,5.730329e+10,615292889.0,-9.264362e+08,-7.944004e+08,5.300000e+09
2,2016-01-06,65800,66400,64000,64500,1714,111567200,-1.68,1070,68370000000,...,1.666293e+11,3.726505e+10,2.038944e+11,NaN,1.632830e+11,5.730329e+10,615292889.0,-9.264362e+08,-7.944004e+08,5.300000e+09
3,2016-01-07,65900,65900,59500,62500,3645,227061400,-3.10,1070,66250000000,...,1.666293e+11,3.726505e+10,2.038944e+11,NaN,1.632830e+11,5.730329e+10,615292889.0,-9.264362e+08,-7.944004e+08,5.300000e+09
4,2016-01-08,59100,62400,58100,61000,5275,314082600,-2.40,1070,64660000000,...,1.666293e+11,3.726505e+10,2.038944e+11,NaN,1.632830e+11,5.730329e+10,615292889.0,-9.264362e+08,-7.944004e+08,5.300000e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1529,2022-03-25,52000,52400,50900,51000,1516,77729700,-1.92,1070,270300000000,...,7.281756e+10,2.861024e+10,1.014278e+11,1.295398e+11,1.381233e+11,4.985672e+10,-997424106.0,-1.697201e+09,-1.387813e+09,5.300000e+09
1530,2022-03-28,51000,51000,49800,50200,3880,194235700,-1.57,1070,266060000000,...,7.281756e+10,2.861024e+10,1.014278e+11,1.295398e+11,1.381233e+11,4.985672e+10,-997424106.0,-1.697201e+09,-1.387813e+09,5.300000e+09
1531,2022-03-29,50200,51200,50000,51000,2200,110807500,1.59,1070,270300000000,...,7.281756e+10,2.861024e+10,1.014278e+11,1.295398e+11,1.381233e+11,4.985672e+10,-997424106.0,-1.697201e+09,-1.387813e+09,5.300000e+09
1532,2022-03-30,51000,51000,50000,50000,659,33092100,-1.96,1070,265000000000,...,7.281756e+10,2.861024e+10,1.014278e+11,1.295398e+11,1.381233e+11,4.985672e+10,-997424106.0,-1.697201e+09,-1.387813e+09,5.300000e+09
1533,2022-03-31,50100,50300,49900,50000,1739,86998800,0.00,1070,265000000000,...,7.281756e+10,2.861024e+10,1.014278e+11,1.295398e+11,1.381233e+11,4.985672e+10,-997424106.0,-1.697201e+09,-1.387813e+09,5.300000e+09