In [138]:
import pandas as pd
import numpy as np
import warnings
import sys
warnings.filterwarnings('ignore')

In [139]:
filepath = '../data/국내고층/'
csvname = os.listdir(filepath)

In [140]:
df = pd.DataFrame()
for csv in csvname:
    print(csv)
    df = pd.concat([df,pd.read_csv(filepath+csv,encoding='cp949')])
df

OBS_SONDE_F00508_20220308230329.csv
OBS_SONDE_F00508_20220308230347.csv
OBS_SONDE_F00508_20220308230406.csv
OBS_SONDE_F00508_20220308230448.csv
OBS_SONDE_F00508_20220308230539.csv
OBS_SONDE_F00508_20220308230605.csv
OBS_SONDE_F00508_20220308230635.csv
OBS_SONDE_F00508_20220308230712.csv
OBS_SONDE_F00508_20220308231004.csv
OBS_SONDE_F00508_20220308231030.csv
OBS_SONDE_F00508_20220308231055.csv
OBS_SONDE_F00508_20220308231118.csv
OBS_SONDE_F00508_20220308231222.csv
OBS_SONDE_F00508_20220308231245.csv
OBS_SONDE_F00508_20220308231305.csv
OBS_SONDE_F00508_20220308231715.csv
OBS_SONDE_F00508_20220308231759.csv
OBS_SONDE_F00508_20220308231859.csv
OBS_SONDE_F00508_20220308232025.csv
OBS_SONDE_F00508_20220308232122.csv
UPPER_SONDE_47122_STD_2010_2010_2018.csv
UPPER_SONDE_47122_STD_2011_2011_2018.csv
UPPER_SONDE_47122_STD_2012_2012_2018.csv
UPPER_SONDE_47122_STD_2013_2013_2018.csv
UPPER_SONDE_47122_STD_2014_2014_2015.csv
UPPER_SONDE_47122_STD_2015_2015_2018.csv
UPPER_SONDE_47122_STD_2016_2016_2018.csv
UPPER_SONDE_47122_STD_2017_2017_2018.csv
UPPER_SONDE_47122_STD_2018_2018_2019.csv
UPPER_SONDE_47122_STD_2019_2019_2020.csv
UPPER_SONDE_47122_STD_2020_2020_2021.csv
UPPER_SONDE_47122_STD_2021_2021_2022.csv

,지점,지점명,일시(UTC),기압(hPa),고도(gpm),기온(°C),이슬점온도(°C),풍향(deg),풍속(knot)
0,47122,오산,1990-01-01 00:00,30,23620.0,-51.9,NaN,260.0,23.0
1,47122,오산,1990-01-01 00:00,50,20340.0,-53.3,NaN,270.0,30.0
2,47122,오산,1990-01-01 00:00,70,18190.0,-52.1,NaN,275.0,44.0
3,47122,오산,1990-01-01 00:00,100,NaN,-56.9,NaN,NaN,NaN
4,47122,오산,1990-01-01 00:00,150,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
18844,47122,NaN,2021-12-31 18:00,500,5520.0,-26.9,-50.9,295.0,62.0
18845,47122,NaN,2021-12-31 18:00,700,3023.0,-11.7,-30.7,320.0,31.0
18846,47122,NaN,2021-12-31 18:00,850,1521.0,-7.9,-37.9,330.0,23.0
18847,47122,NaN,2021-12-31 18:00,925,864.0,-10.5,-25.5,340.0,17.0
18848,47122,NaN,2021-12-31 18:00,1000,264.0,-8.5,-21.5,335.0,10.0

In [141]:
df['기압(hPa)'].value_counts()

850     45317
1000    45316
925     45314
700     45310
500     45292
400     45207
300     45079
250     44982
200     44833
150     44615
100     44158
70      40789
50      38635
30      34864
20      31322
10      21409
Name: 기압(hPa), dtype: int64

In [150]:
df.drop_duplicates(inplace=True)

In [151]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 662399 entries, 0 to 18848
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   일시         662399 non-null  object
 1   기압(hPa)    662399 non-null  int64
 2   고도(gpm)    654095 non-null  float64
 3   기온(°C)     650838 non-null  float64
 4   이슬점온도(°C)  626765 non-null  float64
 5   풍향(deg)    635430 non-null  float64
 6   풍속(knot)   635435 non-null  float64
dtypes: float64(5), int64(1), object(1)
memory usage: 40.4+ MB

In [144]:
# df['일시'] = df['일시(UTC)'].astype()
df.drop(['지점','지점명'],axis=1,inplace=True)

In [145]:
df = df.rename({'일시(UTC)':'일시'},axis=1)

In [153]:
tdf = pd.DataFrame({'일시':df['일시'].unique()})
tdf

                     일시
0      1990-01-01 00:00
1      1990-01-01 06:00
2      1990-01-01 12:00
3      1990-01-01 18:00
4      1990-01-02 00:00
...                 ...
45358  2021-12-30 18:00
45359  2021-12-31 00:00
45360  2021-12-31 06:00
45361  2021-12-31 12:00
45362  2021-12-31 18:00

[45363 rows x 1 columns]

In [147]:
df

,일시,기압(hPa),고도(gpm),기온(°C),이슬점온도(°C),풍향(deg),풍속(knot)
0,1990-01-01 00:00,30,23620.0,-51.9,NaN,260.0,23.0
1,1990-01-01 00:00,50,20340.0,-53.3,NaN,270.0,30.0
2,1990-01-01 00:00,70,18190.0,-52.1,NaN,275.0,44.0
3,1990-01-01 00:00,100,NaN,-56.9,NaN,NaN,NaN
4,1990-01-01 00:00,150,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
18844,2021-12-31 18:00,500,5520.0,-26.9,-50.9,295.0,62.0
18845,2021-12-31 18:00,700,3023.0,-11.7,-30.7,320.0,31.0
18846,2021-12-31 18:00,850,1521.0,-7.9,-37.9,330.0,23.0
18847,2021-12-31 18:00,925,864.0,-10.5,-25.5,340.0,17.0
18848,2021-12-31 18:00,1000,264.0,-8.5,-21.5,335.0,10.0

In [154]:
hpalst = list(df['기압(hPa)'].unique())
for hpa in hpalst:
    tmp = df[df['기압(hPa)']==hpa].drop('기압(hPa)',axis=1)
    tmp.columns = ['일시', f'{hpa}hPa_고도', f'{hpa}hPa_기온', f'{hpa}hPa_이슬점', f'{hpa}hPa_풍향', f'{hpa}hPa_풍속']
    tdf = pd.merge(tdf,tmp, how='left',on='일시')
tdf

,일시,30hPa_고도,30hPa_기온,30hPa_이슬점,30hPa_풍향,30hPa_풍속,50hPa_고도,50hPa_기온,50hPa_이슬점,50hPa_풍향,...,20hPa_고도,20hPa_기온,20hPa_이슬점,20hPa_풍향,20hPa_풍속,10hPa_고도,10hPa_기온,10hPa_이슬점,10hPa_풍향,10hPa_풍속
0,1990-01-01 00:00,23620.0,-51.9,NaN,260.0,23.0,20340.0,-53.3,NaN,270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1990-01-01 06:00,23650.0,-47.5,NaN,245.0,17.0,20340.0,-55.3,NaN,240.0,...,26320.0,-47.5,NaN,220.0,30.0,NaN,NaN,NaN,NaN,NaN
2,1990-01-01 12:00,23580.0,-48.9,NaN,280.0,22.0,20300.0,-56.9,NaN,250.0,...,26240.0,-49.7,NaN,45.0,13.0,30860.0,-42.3,NaN,85.0,18.0
3,1990-01-01 18:00,23640.0,-50.1,NaN,240.0,19.0,20350.0,-55.9,NaN,255.0,...,26300.0,-48.7,NaN,NaN,NaN,30930.0,-40.3,NaN,NaN,NaN
4,1990-01-02 00:00,23640.0,-49.9,NaN,355.0,19.0,20320.0,-57.9,NaN,270.0,...,26310.0,-49.3,NaN,85.0,16.0,30970.0,-37.7,NaN,105.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45358,2021-12-30 18:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45359,2021-12-31 00:00,23740.0,-53.9,-85.9,45.0,9.0,20500.0,-57.5,-88.5,315.0,...,26360.0,-53.3,-85.3,175.0,14.0,30950.0,-46.1,-80.1,105.0,24.0
45360,2021-12-31 06:00,23700.0,-55.7,-86.7,210.0,10.0,20460.0,-59.5,-89.5,275.0,...,26330.0,-52.3,-85.3,220.0,20.0,30900.0,-46.1,-80.1,95.0,17.0
45361,2021-12-31 12:00,23680.0,-55.3,-87.3,275.0,12.0,20470.0,-57.9,-88.9,245.0,...,26300.0,-52.3,-85.3,245.0,8.0,30820.0,-47.7,-81.7,95.0,27.0
45362,2021-12-31 18:00,23650.0,-53.7,-74.7,270.0,17.0,20420.0,-59.9,-78.9,275.0,...,26250.0,-51.7,-75.7,220.0,5.0,NaN,NaN,NaN,NaN,NaN

In [155]:
tdf = tdf.fillna(tdf.mean().round(1))

In [156]:
tdf

,일시,30hPa_고도,30hPa_기온,30hPa_이슬점,30hPa_풍향,30hPa_풍속,50hPa_고도,50hPa_기온,50hPa_이슬점,50hPa_풍향,...,20hPa_고도,20hPa_기온,20hPa_이슬점,20hPa_풍향,20hPa_풍속,10hPa_고도,10hPa_기온,10hPa_이슬점,10hPa_풍향,10hPa_풍속
0,1990-01-01 00:00,23620.0,-51.9,-73.0,260.0,23.0,20340.0,-53.3,-76.0,270.0,...,26559.6,-49.0,-71.2,165.7,19.3,31176.6,-42.3,-68.1,156.5,22.5
1,1990-01-01 06:00,23650.0,-47.5,-73.0,245.0,17.0,20340.0,-55.3,-76.0,240.0,...,26320.0,-47.5,-71.2,220.0,30.0,31176.6,-42.3,-68.1,156.5,22.5
2,1990-01-01 12:00,23580.0,-48.9,-73.0,280.0,22.0,20300.0,-56.9,-76.0,250.0,...,26240.0,-49.7,-71.2,45.0,13.0,30860.0,-42.3,-68.1,85.0,18.0
3,1990-01-01 18:00,23640.0,-50.1,-73.0,240.0,19.0,20350.0,-55.9,-76.0,255.0,...,26300.0,-48.7,-71.2,165.7,19.3,30930.0,-40.3,-68.1,156.5,22.5
4,1990-01-02 00:00,23640.0,-49.9,-73.0,355.0,19.0,20320.0,-57.9,-76.0,270.0,...,26310.0,-49.3,-71.2,85.0,16.0,30970.0,-37.7,-68.1,105.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45358,2021-12-30 18:00,23914.6,-52.8,-73.0,182.7,19.6,20651.4,-58.3,-76.0,214.9,...,26559.6,-49.0,-71.2,165.7,19.3,31176.6,-42.3,-68.1,156.5,22.5
45359,2021-12-31 00:00,23740.0,-53.9,-85.9,45.0,9.0,20500.0,-57.5,-88.5,315.0,...,26360.0,-53.3,-85.3,175.0,14.0,30950.0,-46.1,-80.1,105.0,24.0
45360,2021-12-31 06:00,23700.0,-55.7,-86.7,210.0,10.0,20460.0,-59.5,-89.5,275.0,...,26330.0,-52.3,-85.3,220.0,20.0,30900.0,-46.1,-80.1,95.0,17.0
45361,2021-12-31 12:00,23680.0,-55.3,-87.3,275.0,12.0,20470.0,-57.9,-88.9,245.0,...,26300.0,-52.3,-85.3,245.0,8.0,30820.0,-47.7,-81.7,95.0,27.0
45362,2021-12-31 18:00,23650.0,-53.7,-74.7,270.0,17.0,20420.0,-59.9,-78.9,275.0,...,26250.0,-51.7,-75.7,220.0,5.0,31176.6,-42.3,-68.1,156.5,22.5

In [159]:
tdf['일시'] = tdf['일시'].apply(lambda x:x.split()[0])
tdf.groupby('일시').mean()

,30hPa_고도,30hPa_기온,30hPa_이슬점,30hPa_풍향,30hPa_풍속,50hPa_고도,50hPa_기온,50hPa_이슬점,50hPa_풍향,50hPa_풍속,...,20hPa_고도,20hPa_기온,20hPa_이슬점,20hPa_풍향,20hPa_풍속,10hPa_고도,10hPa_기온,10hPa_이슬점,10hPa_풍향,10hPa_풍속
일시,,,,,,,,,,,,,,,,,,,,,
1990-01-01,23622.50,-49.600,-73.000,256.250,20.25,20332.50,-55.35,-76.000,253.750,29.500,...,26354.9,-48.725,-71.200,149.100,20.400,31035.80,-41.80,-68.10,138.625,21.375
1990-01-02,23680.00,-50.500,-73.000,210.000,16.25,20355.00,-57.20,-76.000,275.000,32.500,...,26340.0,-47.950,-71.200,106.425,16.575,31030.00,-37.20,-68.10,105.750,16.750
1990-01-03,23692.50,-49.500,-73.000,172.500,13.00,20370.00,-55.60,-76.000,268.750,32.500,...,26337.5,-46.950,-71.200,146.250,17.750,31060.00,-35.50,-68.10,136.125,28.875
1990-01-04,23733.65,-52.675,-73.000,187.600,22.55,20377.50,-56.45,-76.000,242.500,24.250,...,26384.9,-47.325,-71.200,155.350,17.400,31076.65,-36.65,-68.10,144.875,25.875
1990-01-05,23855.95,-52.625,-73.000,185.775,16.70,20425.35,-58.45,-76.000,239.975,31.525,...,26497.2,-49.125,-71.200,164.275,16.225,31127.45,-41.55,-68.10,156.500,22.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-27,23740.00,-51.550,-84.300,213.750,17.25,20457.50,-58.45,-89.200,270.000,37.000,...,26372.5,-52.200,-84.700,156.250,9.000,31016.65,-43.15,-76.35,105.375,23.875
2021-12-28,23695.00,-52.000,-84.750,245.000,16.25,20442.50,-59.35,-89.850,277.500,48.250,...,26379.9,-51.175,-81.225,207.675,10.825,31040.80,-42.50,-73.15,120.750,26.000
2021-12-29,23758.65,-53.325,-81.625,241.925,17.40,20525.35,-58.00,-85.675,233.725,29.275,...,26392.4,-51.175,-81.225,168.925,8.575,31127.45,-42.85,-70.95,141.125,24.375
2021-12-30,23758.65,-51.625,-81.175,233.175,20.40,20522.85,-59.20,-86.375,216.225,31.525,...,26397.4,-52.025,-81.575,210.175,9.825,31060.80,-42.80,-73.20,119.500,24.750
2021-12-31,23692.50,-54.650,-83.650,200.000,12.00,20462.50,-58.70,-86.450,277.500,29.500,...,26310.0,-52.400,-82.900,215.000,11.750,30961.65,-45.55,-77.50,112.875,22.625

In [172]:
import datetime as dt
dt.datetime.strftime
dat = pd.DataFrame({'일시':np.arange(dt.datetime(1990,1,1),dt.datetime(2022,1,1),dt.timedelta(days=1))})
dat['일시'] = dat['일시'].apply(lambda x : x.strftime('%Y-%m-%d'))

In [174]:
dat = pd.merge(dat,tdf,how='left',on='일시')
dat

,일시,30hPa_고도,30hPa_기온,30hPa_이슬점,30hPa_풍향,30hPa_풍속,50hPa_고도,50hPa_기온,50hPa_이슬점,50hPa_풍향,...,20hPa_고도,20hPa_기온,20hPa_이슬점,20hPa_풍향,20hPa_풍속,10hPa_고도,10hPa_기온,10hPa_이슬점,10hPa_풍향,10hPa_풍속
0,1990-01-01,23620.0,-51.9,-73.0,260.0,23.0,20340.0,-53.3,-76.0,270.0,...,26559.6,-49.0,-71.2,165.7,19.3,31176.6,-42.3,-68.1,156.5,22.5
1,1990-01-01,23650.0,-47.5,-73.0,245.0,17.0,20340.0,-55.3,-76.0,240.0,...,26320.0,-47.5,-71.2,220.0,30.0,31176.6,-42.3,-68.1,156.5,22.5
2,1990-01-01,23580.0,-48.9,-73.0,280.0,22.0,20300.0,-56.9,-76.0,250.0,...,26240.0,-49.7,-71.2,45.0,13.0,30860.0,-42.3,-68.1,85.0,18.0
3,1990-01-01,23640.0,-50.1,-73.0,240.0,19.0,20350.0,-55.9,-76.0,255.0,...,26300.0,-48.7,-71.2,165.7,19.3,30930.0,-40.3,-68.1,156.5,22.5
4,1990-01-02,23640.0,-49.9,-73.0,355.0,19.0,20320.0,-57.9,-76.0,270.0,...,26310.0,-49.3,-71.2,85.0,16.0,30970.0,-37.7,-68.1,105.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45360,2021-12-30,23914.6,-52.8,-73.0,182.7,19.6,20651.4,-58.3,-76.0,214.9,...,26559.6,-49.0,-71.2,165.7,19.3,31176.6,-42.3,-68.1,156.5,22.5
45361,2021-12-31,23740.0,-53.9,-85.9,45.0,9.0,20500.0,-57.5,-88.5,315.0,...,26360.0,-53.3,-85.3,175.0,14.0,30950.0,-46.1,-80.1,105.0,24.0
45362,2021-12-31,23700.0,-55.7,-86.7,210.0,10.0,20460.0,-59.5,-89.5,275.0,...,26330.0,-52.3,-85.3,220.0,20.0,30900.0,-46.1,-80.1,95.0,17.0
45363,2021-12-31,23680.0,-55.3,-87.3,275.0,12.0,20470.0,-57.9,-88.9,245.0,...,26300.0,-52.3,-85.3,245.0,8.0,30820.0,-47.7,-81.7,95.0,27.0
45364,2021-12-31,23650.0,-53.7,-74.7,270.0,17.0,20420.0,-59.9,-78.9,275.0,...,26250.0,-51.7,-75.7,220.0,5.0,31176.6,-42.3,-68.1,156.5,22.5

In [177]:
dat[dat['300hPa_고도'].isna()]

,일시,30hPa_고도,30hPa_기온,30hPa_이슬점,30hPa_풍향,30hPa_풍속,50hPa_고도,50hPa_기온,50hPa_이슬점,50hPa_풍향,...,20hPa_고도,20hPa_기온,20hPa_이슬점,20hPa_풍향,20hPa_풍속,10hPa_고도,10hPa_기온,10hPa_이슬점,10hPa_풍향,10hPa_풍속
44004,2020-11-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44005,2020-11-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN