In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('./북한 기후 시간단위/북한 1996(시간).csv', encoding='euckr')
df.head(2)

,지점,일시,전운량(할),최저운고(할),중하층운량(할),하층운형,중층운형,상층운형,기온(°C),풍향(36방위),풍속(m/s),해면기압(hPa),현지기압(hPa),12시간강수량(mm),상대습도(%),이슬점온도(°C),시정(10m)
0,3,1996-01-01 03:00,0,NaN,NaN,NaN,NaN,NaN,-9.8,32.0,5.0,1017.4,NaN,NaN,44.0,-19.9,2000.0
1,3,1996-01-01 06:00,0,NaN,NaN,NaN,NaN,NaN,-9.2,32.0,3.0,1019.0,NaN,NaN,42.0,-19.8,2000.0

In [14]:
df.rename(columns={'지점':'지점번호'}, inplace=True)

In [16]:
df.head(10)

,지점번호,일시,전운량(할),최저운고(할),중하층운량(할),하층운형,중층운형,상층운형,기온(°C),풍향(36방위),풍속(m/s),해면기압(hPa),현지기압(hPa),12시간강수량(mm),상대습도(%),이슬점온도(°C),시정(10m)
0,3,1996-01-01 03:00,0,NaN,NaN,NaN,NaN,NaN,-9.8,32.0,5.0,1017.4,NaN,NaN,44.0,-19.9,2000.0
1,3,1996-01-01 06:00,0,NaN,NaN,NaN,NaN,NaN,-9.2,32.0,3.0,1019.0,NaN,NaN,42.0,-19.8,2000.0
2,3,1996-01-01 09:00,0,NaN,NaN,NaN,NaN,NaN,-8.0,32.0,5.0,1019.8,NaN,NaN,37.0,-20.1,2000.0
3,3,1996-01-01 12:00,0,NaN,NaN,NaN,NaN,NaN,-4.7,0.0,0.0,1019.9,NaN,NaN,44.0,-15.0,2000.0
4,3,1996-01-01 15:00,0,NaN,NaN,NaN,NaN,NaN,-1.5,14.0,4.0,1017.9,NaN,NaN,46.0,-11.6,2000.0
5,3,1996-01-01 18:00,0,NaN,NaN,NaN,NaN,NaN,-4.2,0.0,0.0,1017.9,NaN,NaN,36.0,-17.2,2000.0
6,3,1996-01-01 21:00,0,NaN,NaN,NaN,NaN,NaN,-8.4,36.0,1.0,1019.6,NaN,NaN,80.0,-11.2,2000.0
7,3,1996-01-02 00:00,10,9.0,8.0,3.0,1.0,NaN,-9.2,0.0,0.0,1018.8,NaN,NaN,88.0,-10.8,1000.0
8,3,1996-01-02 03:00,0,9.0,NaN,NaN,NaN,NaN,-10.4,36.0,1.0,1018.1,NaN,NaN,91.0,-11.6,2000.0
9,3,1996-01-02 06:00,10,6.0,10.0,5.0,0.0,0.0,-8.0,32.0,1.0,1016.3,NaN,NaN,90.0,-9.4,2000.0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71928 entries, 0 to 71927
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   지점번호         71928 non-null  int64
 1   일시           71928 non-null  object
 2   전운량(할)       71928 non-null  int64
 3   최저운고(할)      69784 non-null  float64
 4   중하층운량(할)     45032 non-null  float64
 5   하층운형         45138 non-null  float64
 6   중층운형         36168 non-null  float64
 7   상층운형         25371 non-null  float64
 8   기온(°C)       71727 non-null  float64
 9   풍향(36방위)     71916 non-null  float64
 10  풍속(m/s)      71901 non-null  float64
 11  해면기압(hPa)    63993 non-null  float64
 12  현지기압(hPa)    481 non-null    float64
 13  12시간강수량(mm)  3906 non-null   float64
 14  상대습도(%)      71333 non-null  float64
 15  이슬점온도(°C)    71769 non-null  float64
 16  시정(10m)      71845 non-null  float64
dtypes: float64(14), int64(2), object(1)
memory usage: 9.3+ MB

In [19]:
df['지점번호'].unique()

array([ 3,  5,  8, 14, 16, 20, 22, 25, 28, 31, 35, 37, 39, 41, 46, 50, 52,
       55, 58, 60, 61, 65, 67, 68, 69, 70, 75], dtype=int64)

In [ ]:
li_a = [3,  5,  8, 14, 16, 20, 22, 25, 28, 31, 35, 37, 39, 41, 46, 50, 52, 55, 58, 60, 61, 65, 67, 68, 69, 70, 75]

In [21]:
no = [5, 22, 16, 20, 14, 39, 46, 31, 41, 25, 3, 8]

In [22]:
li_b=[]

for i in df['지점번호']:
    if i in no:
        li_b.append('north')
    else:
        li_b.append('south')
        
li_b

['north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 'north',
 ...]

In [23]:
len(li_b)

71928

In [26]:
df['지점구분'] = li_b

In [27]:
df.head(2)

,지점번호,일시,전운량(할),최저운고(할),중하층운량(할),하층운형,중층운형,상층운형,기온(°C),풍향(36방위),풍속(m/s),해면기압(hPa),현지기압(hPa),12시간강수량(mm),상대습도(%),이슬점온도(°C),시정(10m),지점구분
0,3,1996-01-01 03:00,0,NaN,NaN,NaN,NaN,NaN,-9.8,32.0,5.0,1017.4,NaN,NaN,44.0,-19.9,2000.0,north
1,3,1996-01-01 06:00,0,NaN,NaN,NaN,NaN,NaN,-9.2,32.0,3.0,1019.0,NaN,NaN,42.0,-19.8,2000.0,north

In [31]:
df['전운량(할)'].sort_values(ascending=False)

71927    10
61512    10
29404    10
29405    10
29407    10
         ..
36000     0
36001     0
36002     0
36003     0
35964     0
Name: 전운량(할), Length: 71928, dtype: int64

In [39]:
df['일시'] = df['일시'].apply(lambda x:x.split()[0])

In [40]:
df_tt = df.groupby(['지점번호', '일시']).agg({'기온(°C)':['mean','max','min'], '상대습도(%)':'mean', 
                                        '풍향(36방위)':'mean','풍속(m/s)':'mean', '12시간강수량(mm)':'sum','해면기압(hPa)':'mean',
                                        '이슬점온도(°C)':'mean'})

df_tt.columns = ['평균기온','최고기온','최저기온','습도','풍향','풍속','강수량','해면기압','이슬점 온도']
df_city_b = df_tt.reset_index()

In [41]:
df_city_b

,지점번호,일시,평균기온,최고기온,최저기온,습도,풍향,풍속,강수량,해면기압,이슬점 온도
0,3,1996-01-01,-6.542857,-1.5,-9.8,47.000,20.857143,2.571429,0.0,1018.785714,-16.4000
1,3,1996-01-02,-4.687500,1.5,-10.4,75.500,10.250000,0.500000,0.0,1014.662500,-8.6250
2,3,1996-01-03,-7.400000,-1.1,-11.6,57.625,32.250000,8.250000,0.0,1010.962500,-14.6000
3,3,1996-01-04,-8.862500,-5.0,-12.0,48.375,18.250000,2.375000,0.0,1020.400000,-18.2375
4,3,1996-01-05,-6.300000,-0.8,-10.5,79.625,5.125000,0.500000,0.0,1021.712500,-9.4250
...,...,...,...,...,...,...,...,...,...,...,...
9740,75,1996-12-15,-3.600000,-3.6,-3.6,89.000,0.000000,0.000000,0.0,1028.050000,-5.1500
9741,75,1996-12-17,-0.050000,3.7,-3.8,73.500,31.500000,3.500000,0.0,1022.850000,-4.2000
9742,75,1996-12-18,-8.550000,-5.6,-11.3,55.750,20.750000,2.500000,0.0,1028.575000,-16.6750
9743,75,1996-12-19,-11.500000,-11.5,-11.5,91.000,0.000000,0.000000,0.0,1027.900000,-12.7000
9744,75,1996-12-21,-0.900000,-0.9,-0.9,98.000,0.000000,0.000000,0.0,1025.500000,-1.2000

In [46]:
li_c=[]

for i in df_city_b['지점번호']:
    if i in no:
        li_c.append('n2')
    else:
        li_c.append('n1')
        
li_c

['n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 'n2',
 ...]

In [47]:
df_city_b['지점구분'] = li_c

In [48]:
df_city_b

,지점번호,일시,평균기온,최고기온,최저기온,습도,풍향,풍속,강수량,해면기압,이슬점 온도,지점구분
0,3,1996-01-01,-6.542857,-1.5,-9.8,47.000,20.857143,2.571429,0.0,1018.785714,-16.4000,n2
1,3,1996-01-02,-4.687500,1.5,-10.4,75.500,10.250000,0.500000,0.0,1014.662500,-8.6250,n2
2,3,1996-01-03,-7.400000,-1.1,-11.6,57.625,32.250000,8.250000,0.0,1010.962500,-14.6000,n2
3,3,1996-01-04,-8.862500,-5.0,-12.0,48.375,18.250000,2.375000,0.0,1020.400000,-18.2375,n2
4,3,1996-01-05,-6.300000,-0.8,-10.5,79.625,5.125000,0.500000,0.0,1021.712500,-9.4250,n2
...,...,...,...,...,...,...,...,...,...,...,...,...
9740,75,1996-12-15,-3.600000,-3.6,-3.6,89.000,0.000000,0.000000,0.0,1028.050000,-5.1500,n1
9741,75,1996-12-17,-0.050000,3.7,-3.8,73.500,31.500000,3.500000,0.0,1022.850000,-4.2000,n1
9742,75,1996-12-18,-8.550000,-5.6,-11.3,55.750,20.750000,2.500000,0.0,1028.575000,-16.6750,n1
9743,75,1996-12-19,-11.500000,-11.5,-11.5,91.000,0.000000,0.000000,0.0,1027.900000,-12.7000,n1
9744,75,1996-12-21,-0.900000,-0.9,-0.9,98.000,0.000000,0.000000,0.0,1025.500000,-1.2000,n1